/*hover colour*/
/*

    A simpler media query mixin

    This mixin allows you to quickly create a media query in your project. With the ability to define the breakpoint in PX (which get's converted into EMs).
    There's also the ability to define min/max and width/height (with defaults to min-width).

    There's also an option to duplicate the content into a OldIE conditionally classed bit of CSS.

    You would use it like this

        body {
            @include (280) {
                background-color: blue;
            }
            @include mq(600, false) {
                background-color: red;
            }
            @include mq(1200, true, max) {
                font-size: 110%;
            }
        }

    Which would give you this compiled CSS

        @media (min-width: 17.5em) {
            body {
                background-color: blue;
            }
        }
        @media (min-width: 37.5em) {
            body {
            background-color: red;
            }
        }
        .lt-ie9 body {
            font-size: 110%;
        }
        @media (max-width: 75em) {
            body {
                font-size: 110%;
            }
        }

*/
/* 
* Mixin name: Gradient
* Use: Shorthand gradient declarations with vendor prefixer/ie fallbacks
* Note: N/A
-------------------------------------------------------------- */
/*
    By default this mixin is to be used for creating .no-js .element fallbacks.

    For example:

      .selector {
        @include js {
          width: 303px;
        }
      }

    Which gives:

      .no-js .selector {
        width: 303px;
      }

*/
/*
    By default this mixin is to be used for creating html.no-CSS3Thing .element fallbacks.

    For example:

      .selector {
        @include modernizr(cssanimations) {
          left: 400px;
        }
      }

    Which gives:

      html.no-cssanimations .selector {
        left: 400px;
      }

*/
/* 
* Mixin name: List
* Use: 
* 		1. Remove bullets and indentation from a list
* Note: N/A
-------------------------------------------------------------- */
/* 1
-------------------------------------------------------------- */
/* 
* Mixin name: On interaction
* Use: Shorthand for most common interaction states
* Note: N/A
-------------------------------------------------------------- */
/* 
* Mixin name: Guttering
* Use: Controlling the spacing at the bottom of a module
* Note: See http://css-tricks.com/spacing-the-bottom-of-modules/
-------------------------------------------------------------- */
/* 
* Name: SASS-IE
* Use: Media query handling outside of Gridset
* Notes: See http://jakearchibald.github.io/sass-ie/
-------------------------------------------------------------- */
/* 
* Mixin name: Alignment
* Use: Align content with horizontal padding
* Note: N/A
-------------------------------------------------------------- */
/* 
* Mixin name: Unit
* Use: 
* 		1. Set REM value with pixel value fallback
* Note: N/A
-------------------------------------------------------------- */
/* 1
-------------------------------------------------------------- */
/* 
* Mixin name: Inline block
* Use: Bullet proof inline block browser support
* Note: N/A
-------------------------------------------------------------- */
/* 
* Utility name: Helpers
* Use: Commonly used dlasses (and silent classes) that can be used within CSS or within HTML
* Note: See http://csswizardry.com/2014/01/extending-silent-classes-in-sass/
-------------------------------------------------------------- */
/* Hide
-------------------------------------------------------------- */
.hidden {
  display: none !important;
  visibility: hidden; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Clear
-------------------------------------------------------------- */
.clear {
  clear: both; }

/* Clearfix 
-------------------------------------------------------------- */
.dl-inline, .clearfix {
  zoom: 1; }
  .dl-inline:before, .dl-inline:after, .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .dl-inline:after, .clearfix:after {
    clear: both; }

/* Floats
-------------------------------------------------------------- */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* Add margin
-------------------------------------------------------------- */
.push-left {
  margin-left: 1.5em; }

.push-right {
  margin-right: 1.5em; }

.push-bottom {
  margin-bottom: 1.5em; }

.push-top {
  margin-top: 1.5em; }

/* Remove margin/padding
-------------------------------------------------------------- */
.zero {
  margin: 0; }

.zero-top {
  margin-top: 0; }

.zero-bottom {
  margin-bottom: 0; }

.zero-left {
  margin-left: 0; }

.zero-right {
  margin-right: 0; }

.zero-pad {
  padding: 0; }

.zero-pad-top {
  padding-top: 0; }

.zero-pad-bottom {
  padding-bottom: 0; }

.zero-pad-left {
  padding-left: 0; }

.zero-pad-right {
  padding-right: 0; }

/* Alignment
-------------------------------------------------------------- */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

/* Transforms
-------------------------------------------------------------- */
.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

time, .text-capitalize {
  text-transform: capitalize; }

.text-emphasise {
  font-style: italic; }

/* Responsiveness
-------------------------------------------------------------- */
.no-respond {
  width: auto; }

/* 
* Base name: Reset
* Note: N/A
-------------------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
  clear: both; }

input, select {
  vertical-align: middle; }

/* removes rounded corners and things on inputs for iOS */
input {
  /* -webkit-appearance: none; ----  this is hiding checkboxes and radio buttons*/
  border-radius: 0; }

audio {
  width: 100%; }

/* 
* Base name: Typography
* Note: N/A
-------------------------------------------------------------- */
html {
  font-size: 62.5%; }

body {
  color: #333333;
  background-color: #d9d9d1;
  overflow-x: hidden;
  line-height: 1.7;
  -webkit-hyphens: none;
          hyphens: none;
  -ms-hyphens: none;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-size: 1.6rem; }

/* Vertical rhythym
-------------------------------------------------------------- */
p, ul, ol, dl, blockquote, hgroup, address, table, fieldset, figure, pre, img, .page-head, .media, .island, .islet, .pill, .responsive-container, .advert, .menu-block, .box, .input-group, .accordion, .video-wrap {
  margin-bottom: 1.5em; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3 {
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 80%;
    color: #6f6f6f;
    line-height: 0; }

h1, .as-h1 {
  font-size: 36px;
  font-size: 3.6rem; }
  @media (max-width: 767px) {
    h1, .as-h1 {
      font-size: 30px;
      font-size: 3rem; } }

h2, .as-h2 {
  font-size: 30px;
  font-size: 3rem; }
  @media (max-width: 767px) {
    h2, .as-h2 {
      font-size: 24px;
      font-size: 2.4rem; } }

h3, .as-h3 {
  font-size: 24px;
  font-size: 2.4rem; }
  @media (max-width: 767px) {
    h3, .as-h3 {
      font-size: 18px;
      font-size: 1.8rem; } }

h4, .as-h4 {
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: none;
  letter-spacing: 0; }
  @media (max-width: 767px) {
    h4, .as-h4 {
      font-size: 16px;
      font-size: 1.6rem; } }

h5, .as-h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold; }

h6, .as-h6 {
  font-size: 12px;
  font-size: 1.2rem;
  color: #999;
  margin: 1em 0 0; }

a {
  color: #034da1;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #034da1;
    text-decoration: underline; }

/* Quotes
-------------------------------------------------------------- */
blockquote {
  font-style: italic;
  overflow: hidden; }

small,
.small {
  font-weight: 400;
  font-size: 12px;
  font-size: 1.2rem; }

strong,
.strong {
  font-weight: 600; }

cite, .cite, em, dfn {
  font-style: italic; }

p.lead {
  font-size: 21px;
  font-size: 2.1rem; }

/* Inline styles
-------------------------------------------------------------- */
.text-muted {
  color: #999999; }

.text-success {
  color: #468847; }

.text-error {
  color: #b94a48; }

.mod {
  color: #b3b3b3;
  clear: both;
  font-size: 12px;
  font-size: 1.2rem; }

ins {
  background-color: #F0F0F0;
  color: #000;
  text-decoration: none;
  padding: 0 0.125em; }

mark {
  padding: 0 0.125em; }

del {
  color: #666; }

.standfirst {
  font-size: 20px; }
  @media only screen and (max-width: 767px) {
    .standfirst {
      font-size: 18px; } }

/* Lists
-------------------------------------------------------------- */
ol, ul {
  margin-top: 0;
  margin-left: 1.5em; }
  ol ul, ul ul {
    margin-top: 1em;
    margin-left: 1em; }

.list-unstyled, .list-inline {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }
  .list-unstyled li, .list-inline li {
    margin-left: 0;
    list-style-type: none; }
    .list-unstyled li:before, .list-inline li:before {
      background-color: transparent !important; }

.list-inline {
  display: inline;
  margin-left: 0; }
  .list-inline > li {
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

.list-inline--divided li:after {
  content: "|";
  margin-left: 10px; }
.list-inline--divided li:last-child:after {
  content: "";
  display: none; }

.list-divided li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
  padding-bottom: 14px;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #cccccc; }
  .list-divided li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0; }

.tabbed > div ul li, .box ul li {
  margin-left: 1em; }

/* Ordered lists
-------------------------------------------------------------- */
ol li {
  list-style-type: decimal;
  margin-bottom: 1em; }
  ol li ol {
    margin-top: 1em; }
  ol li li {
    margin-left: 1.5em; }

/* Definition lists
-------------------------------------------------------------- */
dl {
  margin-top: 1em; }

dt {
  font-weight: bold; }

dd {
  padding-left: 1.5em; }

.dl-inline dt {
  min-width: 100px; }
.dl-inline dt, .dl-inline dd {
  float: left;
  margin-top: 0;
  margin-right: 8px;
  margin-right: 0.8rem;
  margin-bottom: 4px;
  margin-bottom: 0.4rem; }
.dl-inline dd + dt, .dl-inline dd + dd {
  clear: left; }
.dl-inline dd + dd {
  float: none; }
.dl-inline dt {
  font-weight: bold; }

/* Code styling
-------------------------------------------------------------- */
pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em "consolas", "andale mono", "lucida console", monospace; }

/* 
* Base name: Tables
* Note: N/A
-------------------------------------------------------------- */
table {
  display: table;
  table-layout: auto;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  clear: left;
  border-spacing: 0;
  font-size: 0.8em; }

thead, tbody, tfoot {
  display: table-row-group; }

thead {
  display: table-header-group; }

tbody {
  display: table-row-group; }

tfoot {
  display: table-footer-group; }

tr {
  display: table-row; }

th, td {
  display: table-cell;
  text-align: left;
  width: auto;
  border-bottom: 1px solid #e6e6e6;
  border-top: none;
  vertical-align: middle;
  padding: 0.25em 1em 0.25em 0; }

th {
  border-right: 1px solid #e6e6e6;
  border-bottom-color: #e6e6e6;
  color: #333333;
  font-weight: 700;
  background-color: #eee; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  caption-side: bottom;
  color: #666666;
  font-size: 0.875em;
  line-height: 1.4286;
  padding: 0.8571em 0 0.2857em;
  text-align: left; }

td, td img {
  vertical-align: top; }

/* Responsive Tables
-------------------------------------------------------------- */
.table-responsive {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.table-responsive th, .table-responsive td {
  margin: 0;
  vertical-align: top;
  border: 1px solid #e6e6e6; }

.table-responsive th {
  text-align: left; }

@media (max-width: 989px) {
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
    border-top: 0; }
    .table-responsive thead {
      display: block;
      float: left; }
      .table-responsive thead tr {
        display: block; }
    .table-responsive tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap; }
      .table-responsive tbody tr {
        vertical-align: top;
        border-right: 1px solid #eee;
        display: -moz-inline-stack;
        display: inline-block;
        *vertical-align: auto;
        zoom: 1;
        *display: inline; }
    .table-responsive th {
      display: block;
      border-bottom: 0; }
    .table-responsive td {
      display: block;
      min-height: 1.25em;
      border-left: 0;
      border-right: 0;
      border-bottom: 0; } }
/* 
* Base name: Images
* Note: N/A
-------------------------------------------------------------- */
figcaption {
  color: #666666;
  font-size: 0.9em; }

figcaption h4 {
  margin-top: 0.2em; }

figure img {
  width: 100%;
  margin-bottom: .5em; }

figure + figure, figure + p {
  margin-top: 1em; }

/* Image options
-------------------------------------------------------------- */
.img-pull-left {
  margin-bottom: 1em;
  margin-top: 1em;
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.429292929%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 3.03030303%; }

.img-pull-right {
  margin-bottom: 1em;
  margin-top: 1em;
  display: block;
  float: left;
  margin-left: 51.459595959%;
  margin-right: -100%;
  width: 48.429292929%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 3.03030303%; }

.img-rounded {
  border-radius: 50em; }

.img-sm {
  max-width: 200px; }

.img-md {
  max-width: 400px; }

.img-lg {
  max-width: 767px; }

.img-xl {
  max-width: 989px; }

.img-xxl {
  max-width: 1400px; }

@media only screen and (max-width: 767px) {
  .img-lg, .img-xl, .img-xxl {
    width: 100%; }

  .decorative {
    display: none !important; }

  .img-pull-left.large-image, .img-pull-left.xl-image, .img-pull-left.xxl-image, .img-pull-right.large-image, .img-pull-right.xl-image, .img-pull-right.xxl-image {
    width: 100%; } }
