/* Config */
/* Variables */
/* Variables
-------------------------------------------------------------- */
/* UCL Colours
-------------------------------------------------------------- */
/* Standard
-------------------------------------------------------------- */
/* Colour Variant - for gradients
-------------------------------------------------------------- */
/* Colour by element
-------------------------------------------------------------- */
/* Image sizing
-------------------------------------------------------------- */
/* Z index values
-------------------------------------------------------------- */
/* Module spacing
-------------------------------------------------------------- */
/* Font stacks
-------------------------------------------------------------- */
/* Breakpoints
-------------------------------------------------------------- */
/* Mixins */
/*

    A simpler media query mixin

    This mixin allows you to quickly create a media query in your project. With the ability to define the breakpoint in PX (which get's converted into EMs).
    There's also the ability to define min/max and width/height (with defaults to min-width).

    There's also an option to duplicate the content into a OldIE conditionally classed bit of CSS.

    You would use it like this

        body {
            @include (280) {
                background-color: blue;
            }
            @include mq(600, false) {
                background-color: red;
            }
            @include mq(1200, true, max) {
                font-size: 110%;
            }
        }

    Which would give you this compiled CSS

        @media (min-width: 17.5em) {
            body {
                background-color: blue;
            }
        }
        @media (min-width: 37.5em) {
            body {
            background-color: red;
            }
        }
        .lt-ie9 body {
            font-size: 110%;
        }
        @media (max-width: 75em) {
            body {
                font-size: 110%;
            }
        }

*/
/*
    By default this mixin is to be used for creating .no-js .element fallbacks.

    For example:

      .selector {
        @include js {
          width: 303px;
        }
      }

    Which gives:

      .no-js .selector {
        width: 303px;
      }

*/
/*
    By default this mixin is to be used for creating html.no-CSS3Thing .element fallbacks.

    For example:

      .selector {
        @include modernizr(cssanimations) {
          left: 400px;
        }
      }

    Which gives:

      html.no-cssanimations .selector {
        left: 400px;
      }

*/
/* 
* Name: Guttering
* Use: Controlling the spacing at the bottom of a module
* Notes: http://css-tricks.com/spacing-the-bottom-of-modules/
-------------------------------------------------------------- */
/* 
* Name: SASS-IE
* Use: Media query handling
* Notes: See http://jakearchibald.github.io/sass-ie/
-------------------------------------------------------------- */
/* Helper classes */
/* Hide
-------------------------------------------------------------- */
/* Clearfix
-------------------------------------------------------------- */
/* Add margin
-------------------------------------------------------------- */
.push-left {
  margin-left: 1.5em; }

.push-right {
  margin-right: 1.5em; }

.push-bottom {
  margin-bottom: 1.5em; }

.push-top {
  margin-top: 1.5em; }

/* Remove margin/padding
-------------------------------------------------------------- */
.zero {
  margin: 0; }

.zero-top {
  margin-top: 0; }

.zero-bottom {
  margin-bottom: 0; }

.zero-left {
  margin-left: 0; }

.zero-right {
  margin-right: 0; }

.zero-pad {
  padding: 0; }

.zero-pad-top {
  padding-top: 0; }

.zero-pad-bottom {
  padding-bottom: 0; }

.zero-pad-left {
  padding-left: 0; }

.zero-pad-right {
  padding-right: 0; }

/* Alignment
-------------------------------------------------------------- */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

/* Transforms
-------------------------------------------------------------- */
.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-emphasise {
  font-style: italic; }

/* Base dependencies */
/* 
* Base name: Reset
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Clearfix -------------------------------- */
/* More info: http://nicolasgallagher.com/micro-clearfix-hack/

For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  zoom: 1; }

/* removes rounded corners and things on inputs for iOS */
input {
  /* -webkit-appearance: none; ----  this is hiding checkboxes and radio buttons*/
  border-radius: 0; }

/* 
* Base name: Layout
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
  position: relative; }

#leftcol {
  position: absolute;
  margin-top: 3em;
  left: 0;
  width: 19.8653%; }
  @media only screen and (max-width: 767px) {
    #leftcol {
      margin-top: 2em; } }

#nav-mobile-back, #header-mobile {
  display: none; }

@media only screen and (max-width: 767px) {
  #header-mobile {
    display: block;
    width: 100%;
    padding: 20% 35px 0;
    background-size: auto 100%;
    background-position: 106% bottom;
    background-image: url("/images/ucl-logo.svg");
    background-repeat: repeat-x;
    position: relative;
    left: -35px;
    background-color: #fff; }
    #header-mobile h1 {
      position: absolute;
      font-size: 12px;
      top: 1em;
      left: 1em; }
    #header-mobile #nav-mobile-menu {
      width: 20px;
      top: 35%;
      left: 35px;
      position: absolute;
      z-index: 1000; }
    #header-mobile.no-svg {
      background-image: url("/images/ucl-logo-cropped-white.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-color: #000;
      background-size: 90%; } }
/* Main Content
-------------------------------------------------------------- */
.content {
  display: block;
  float: left;
  margin-left: 22.89562%;
  margin-right: -100%;
  width: 77.03704%; }
  @media only screen and (max-width: 989px) {
    .content {
      display: block;
      float: left;
      margin-left: 34.20139%;
      margin-right: -100%;
      width: 65.79861%; } }
  @media only screen and (max-width: 767px) {
    .content {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }

.content__main {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 55.46605%; }
  @media only screen and (max-width: 989px) {
    .content__main {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%;
      margin-bottom: 2em; } }
  @media only screen and (max-width: 767px) {
    .content__main {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }

.content__sidebar {
  font-size: 14px;
  display: block;
  float: left;
  margin-left: 66.80507%;
  margin-right: -100%;
  width: 33.19493%; }
  @media only screen and (max-width: 989px) {
    .content__sidebar {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .content__sidebar {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }

.middle-split {
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    .middle-split section {
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      width: 47%; }
      .middle-split section:nth-child(odd) {
        margin-right: 1%; }
      .middle-split section:nth-child(even) {
        margin-left: 1%; } }

.block-myucl {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 31.30645%; }
  @media only screen and (max-width: 989px) {
    .block-myucl {
      display: block;
      float: left;
      margin-left: 0%;
      margin-right: -100%;
      width: 31.59722%; } }
  @media only screen and (max-width: 767px) {
    .block-myucl {
      display: block;
      float: left;
      margin-left: 0%;
      margin-right: -100%;
      width: 46.79688%; } }

.block-finditfast1 {
  display: block;
  float: left;
  margin-left: 34.33675%;
  margin-right: -100%;
  width: 31.28827%; }
  @media only screen and (max-width: 989px) {
    .block-finditfast1 {
      display: block;
      float: left;
      margin-left: 34.20139%;
      margin-right: -100%;
      width: 31.59722%; } }
  @media only screen and (max-width: 767px) {
    .block-finditfast1 {
      display: block;
      float: left;
      margin-left: 53.04688%;
      margin-right: -100%;
      width: 46.79688%; } }

.block-finditfast2 {
  display: block;
  float: left;
  margin-left: 68.65532%;
  margin-right: -100%;
  width: 31.27734%; }
  @media only screen and (max-width: 989px) {
    .block-finditfast2 {
      display: block;
      float: left;
      margin-left: 68.40278%;
      margin-right: -100%;
      width: 31.59722%; } }
  @media only screen and (max-width: 767px) {
    .block-finditfast2 {
      display: block;
      float: left;
      margin-left: 0%;
      margin-right: -100%;
      width: 46.79688%;
      clear: left; } }

/* 
* Base name: Typography
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333333;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #d9d9d1;
  overflow-x: hidden;
  line-height: 1.7;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  -ms-hyphens: none;
  word-wrap: break-word;
  -webkit-text-size-adjust: none; }

/* Headings
-------------------------------------------------------------- */
hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre, img, .page-head, .media, .island, .islet, .pill, .responsive-container {
  margin-bottom: 1.5em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h1, .as-h1 {
  font-size: 2.5em;
  font-weight: 300; }

h2, .as-h2 {
  font-size: 2em;
  font-weight: 300; }

h3, .as-h3 {
  font-size: 1.5em;
  font-weight: 300; }

h4, .as-h4 {
  font-size: 1.2em;
  text-transform: none;
  letter-spacing: 0; }

h5, .as-h5 {
  font-style: normal;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: bold; }

h6, .as-h6 {
  color: #999;
  margin: 1em 0 0; }

h3 + ul, h3 + ol, h3 + dl {
  margin-top: 0.5em; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 80%;
  color: #6f6f6f;
  line-height: 0; }

.box h2 {
  margin-top: 0; }

.content__sidebar h1 {
  font-size: 26px; }

/* Quotes
-------------------------------------------------------------- */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
  overflow: hidden; }

.quote-left {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 3.0303%; }

.quote-right {
  display: block;
  float: left;
  margin-left: 51.4596%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 3.0303%; }

@media only screen and (max-width: 767px) {
  .quote-left, .quote-right {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; } }
[class*=pullquote] {
  margin-top: 2em;
  margin-bottom: 2em; }

[class*=pullquote] q.quote {
  line-height: 1.5em;
  font-size: 20px;
  font-family: "Georgia", "Times New Roman", serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7); }

.pullquote .meta, .quote-meta {
  border-top: 1px dotted;
  padding-top: 1em;
  border-color: rgba(0, 0, 0, 0.2);
  float: left;
  font-size: 12px;
  margin-top: 1em;
  width: 100%; }

small,
.small {
  font-size: 0.9em; }

strong,
.strong {
  font-weight: 500; }

cite, .cite, em, dfn {
  font-style: italic; }

.bqstart {
  color: #c2c2ba;
  float: left;
  font-size: 400%;
  height: 45px;
  margin-bottom: -42px;
  margin-top: 0;
  padding-top: 22px;
  padding-right: 10px;
  font-style: normal; }

.bqend {
  color: #c2c2ba;
  float: right;
  font-size: 400%;
  height: 25px;
  margin-top: 0;
  padding-top: 60px;
  padding-left: 10px;
  font-style: normal; }

/* Inline styles
-------------------------------------------------------------- */
.text-muted {
  color: #999999; }

.text-success {
  color: #468847; }

.text-error {
  color: #b94a48; }

.mod {
  font-size: 12px;
  color: #ccc;
  margin-top: 2em; }
  .mod .lastMod {
    text-transform: capitalize; }

ins {
  background-color: #F0F0F0;
  color: #000;
  text-decoration: none;
  padding: 0 0.125em; }

mark {
  padding: 0 0.125em; }

del {
  color: #666; }

.standfirst {
  font-size: 20px; }
  @media only screen and (max-width: 767px) {
    .standfirst {
      font-size: 18px; } }

/* Lists
-------------------------------------------------------------- */
.list-unstyled, .list-inline {
  padding-left: 0;
  margin-left: 0;
  list-style: none; }

.list-inline {
  display: inline; }
  .list-inline > li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px; }
    .list-inline > li:after {
      content: "|";
      margin-left: 2.5px; }
    .list-inline > li:last-child:after {
      content: "";
      display: none; }

article ul {
  margin-bottom: 2em; }
  article ul li {
    list-style: none;
    position: relative;
    margin-bottom: 1em; }
    @media only screen and (max-width: 767px) {
      article ul li {
        margin-left: 1em; } }
    article ul li:before {
      content: "";
      display: block;
      background-color: #333;
      border-radius: 50%;
      height: 0.35em;
      width: 0.35em;
      position: absolute;
      left: -0.8em;
      top: 0.6em; }

article ul li ul {
  margin-top: 1em; }

article ul li li {
  margin-left: 1em; }

.tabbed > div ul li, .box ul li {
  margin-left: 1em; }

/* Inline lists
-------------------------------------------------------------- */
.site-content__body article .horizontal li {
  display: inline;
  margin-right: 0.5em; }
.site-content__body article .horizontal li:before {
  display: none; }
.site-content__body article .horizontal lh {
  float: left; }
.site-content__body article .horizontal dt, .site-content__body article .horizontal dd {
  float: left;
  margin: 0 0.5em 0 0; }
.site-content__body article .horizontal lh + dt, .site-content__body article .horizontal dd + dt, .site-content__body article .horizontal dd + dd {
  clear: left; }
.site-content__body article .horizontal dd + dd {
  float: none; }
.site-content__body article .horizontal dt {
  font-weight: bold; }

/* Unstyled lists
-------------------------------------------------------------- */
.site-content__body article .nostyle li:before {
  display: none; }

/* Ordered lists
-------------------------------------------------------------- */
ol li {
  list-style-type: decimal;
  margin-bottom: 1em; }
  @media only screen and (max-width: 767px) {
    ol li {
      margin-left: 1.5em; } }

ol li ol {
  margin-top: 1em; }

ol li li {
  margin-left: 1.5em; }

/* Definition lists
-------------------------------------------------------------- */
dt {
  font-weight: 700; }

dd + dt {
  margin-top: 10px; }

/* Code lists (blocked)
-------------------------------------------------------------- */
.code {
  font: 400 1em/1.5 "source-code-pro", monospace;
  margin: 1em 0 1.5em 2.5em; }
  .code li {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #FFFFFF;
    list-style: decimal-leading-zero outside none;
    padding: 0 0.5em; }
    .code li .tab1 {
      padding-left: 4ex; }

/* 
* Base name: Links
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
a {
  color: #034da1;
  text-decoration: none; }
  a:hover {
    color: #034da1;
    text-decoration: underline; }

p a {
  text-decoration: none; }
  p a:hover {
    text-decoration: underline; }

/* 
* Base name: Audio
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
audio {
  width: 100%; }

/* 
* Base name: Code
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em "consolas", "andale mono", "lucida console", monospace; }

/* 
* Base name: Forms
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
form {
  margin-top: 2em;
  margin-bottom: 2em; }

fieldset {
  margin: 0 0 1em 0; }

legend {
  font-size: 1.25em;
  margin-bottom: 0.5em; }

input {
  padding: 0.5em 2%;
  vertical-align: middle;
  margin: 0;
  -moz-box-sizing: border-box; }

form > ul {
  list-style: none;
  margin: 0; }

input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline;
  margin-left: 5px; }

fieldset > div:first-of-type {
  margin-top: 0; }

label, fieldset.options legend {
  display: block;
  font-size: 0.9em;
  color: #494949;
  font-weight: 700; }

label span {
  color: #990000; }

fieldset abbr[title="Required"] {
  border-bottom: 0 none;
  color: #AF1616;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 0.1; }

input.text, textarea {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%; }

select {
  margin: 0.5em 0 0;
  width: 100%; }

.view-form-page {
  margin-top: 1em; }

form em {
  font-size: 0.8em;
  color: #848484; }

fieldset.options {
  margin: 1em 0; }

fieldset.options ul {
  list-style: none;
  margin: 0 0 0.5em; }

/* Form fields
-------------------------------------------------------------- */
input, textarea {
  font-size: 14px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  box-sizing: border-box;
  color: #333; }

input[type=submit] {
  cursor: pointer; }

input, select {
  outline: 0; }
  input:focus, select:focus {
    outline: 0; }

input:disabled {
  cursor: not-allowed; }

input[type=text],
input[type=search] {
  padding-top: 7.5/14em;
  padding-bottom: 7.5/14em;
  font-size: 14px;
  line-height: 1;
  color: #333;
  border: 1px solid #aba690;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  input[type=text]:focus,
  input[type=search]:focus {
    outline: none; }

input[type=checkbox],
input[type=radio] {
  vertical-align: baseline;
  background: none;
  border: none; }

input[type=checkbox] {
  border-radius: 4px; }

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=reset],
input[type=search],
input[type=submit] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="tel"], input[type="number"], input.title,
textarea, #search-form {
  margin: 0.5em 0;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px #e0e0e0 inset;
  color: #333;
  width: 96%; }

#search-form {
  width: 100%; }

input.text:focus, input.title:focus,
textarea:focus {
  border: 1px solid #666; }

.inline label {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 33%;
  font-size: 14px;
  text-align: right;
  line-height: 38px; }

.prepend span {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 33%;
  left: -1.51515%;
  position: relative;
  padding-left: 1.51515%;
  padding-right: 1.51515%;
  margin-left: 1.51515%;
  color: #848484;
  font-size: 14px;
  text-align: right;
  line-height: 26px;
  margin-top: 5px;
  display: block;
  background-color: #eee; }

.inline input, .prepend input {
  display: block;
  float: left;
  margin-left: 36.0303%;
  margin-right: -100%;
  width: 63.85859%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  padding-left: 1.51515%;
  padding-right: 1.51515%; }

.inline em {
  display: block;
  float: left;
  margin-left: 36.0303%;
  margin-right: -100%;
  width: 63.85859%;
  clear: left; }

.prepend em {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%; }

input.error {
  background-color: #FFFAFA;
  border: 1px solid #DD6868; }

.error {
  color: #c60f13; }

/* 
* Base name: Buttons
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.btn {
  background-color: #666;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 0.5em 0;
  text-decoration: none;
  color: white;
  padding: 12px 30px 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px; }
  .btn:hover, .btn:focus {
    background-color: #615957;
    color: #fff;
    text-decoration: none; }
  .btn:active {
    background-color: #505050; }

.btn--small {
  padding: 8px 20px 8px 20px;
  font-size: 12px; }

.btn--gradient.disabled {
  background: #e0e0e0;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#e0e0e0));
  background: -webkit-linear-gradient(#eee 0%, #e0e0e0 100%);
  background: linear-gradient(#eee 0%, #e0e0e0 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  color: #999;
  text-shadow: none; }
  .btn--gradient.disabled:hover, .btn--gradient.disabled :focus {
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#eee));
    background: -webkit-linear-gradient(#ededed 0%, #eee 100%);
    background: linear-gradient(#ededed 0%, #eee 100%); }
  .btn--gradient.disabled:active {
    background: #cccccc;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e8e8e4), to(#cccccc));
    background: -webkit-linear-gradient(#e8e8e4 0%, #cccccc 100%);
    background: linear-gradient(#e8e8e4 0%, #cccccc 100%); }

button {
  background: #40403e;
  cursor: pointer;
  padding: 0.7rem;
  color: #fff;
  border: 0;
  border-radius: 0.4em; }
  button:hover, button :focus {
    background-color: #615957;
    border: 0; }
  button:active {
    background-color: #505050;
    border: 0; }

/* Gradient Button's Colors
-------------------------------------------------------------- */
.btn--gradient.darkgreen {
  background: #555025;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4820), to(#555025));
  background: -webkit-linear-gradient(#4d4820 0%, #555025 100%);
  background: linear-gradient(#4d4820 0%, #555025 100%); }

.btn--gradient.midgreen {
  background: #8f993e;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#9ca35f), to(#8f993e));
  background: -webkit-linear-gradient(#9ca35f 0%, #8f993e 100%);
  background: linear-gradient(#9ca35f 0%, #8f993e 100%); }

.btn--gradient.brightgreen {
  background: #b5bd00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c9d10f), to(#b5bd00));
  background: -webkit-linear-gradient(#c9d10f 0%, #b5bd00 100%);
  background: linear-gradient(#c9d10f 0%, #b5bd00 100%); }

.btn--gradient.lightgreen {
  background: #bbc592;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c9d3a1), to(#bbc592));
  background: -webkit-linear-gradient(#c9d3a1 0%, #bbc592 100%);
  background: linear-gradient(#c9d3a1 0%, #bbc592 100%); }

.btn--gradient.yellow {
  background: #f6be00;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd030), to(#f6be00));
  background: -webkit-linear-gradient(#ffd030 0%, #f6be00 100%);
  background: linear-gradient(#ffd030 0%, #f6be00 100%); }

.btn--gradient.darkred {
  background: #651d32;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#792f44), to(#651d32));
  background: -webkit-linear-gradient(#792f44 0%, #651d32 100%);
  background: linear-gradient(#792f44 0%, #651d32 100%); }

.btn--gradient.midred {
  background: #93272c;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a3383d), to(#93272c));
  background: -webkit-linear-gradient(#a3383d 0%, #93272c 100%);
  background: linear-gradient(#a3383d 0%, #93272c 100%); }

.btn--gradient.brightred {
  background: #d50000;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e21111), to(#d50000));
  background: -webkit-linear-gradient(#e21111 0%, #d50000 100%);
  background: linear-gradient(#e21111 0%, #d50000 100%); }

.btn--gradient.lightred {
  background: #e03c31;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ec6258), to(#e03c31));
  background: -webkit-linear-gradient(#ec6258 0%, #e03c31 100%);
  background: linear-gradient(#ec6258 0%, #e03c31 100%); }

.btn--gradient.orange {
  background: #ea7600;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9120), to(#ea7600));
  background: -webkit-linear-gradient(#ff9120 0%, #ea7600 100%);
  background: linear-gradient(#ff9120 0%, #ea7600 100%); }

.btn--gradient.darkpurple {
  background: #4b384c;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#543e55), to(#4b384c));
  background: -webkit-linear-gradient(#543e55 0%, #4b384c 100%);
  background: linear-gradient(#543e55 0%, #4b384c 100%); }

.btn--gradient.midpurple {
  background: #500778;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#641391), to(#500778));
  background: -webkit-linear-gradient(#641391 0%, #500778 100%);
  background: linear-gradient(#641391 0%, #500778 100%); }

.btn--gradient.brightpink {
  background: #ac145a;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c01d68), to(#ac145a));
  background: -webkit-linear-gradient(#c01d68 0%, #ac145a 100%);
  background: linear-gradient(#c01d68 0%, #ac145a 100%); }

.btn--gradient.lightpurple {
  background: #c6b0bc;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dbc0cf), to(#c6b0bc));
  background: -webkit-linear-gradient(#dbc0cf 0%, #c6b0bc 100%);
  background: linear-gradient(#dbc0cf 0%, #c6b0bc 100%); }

.btn--gradient.warmgrey {
  background: #8c8279;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#9c9188), to(#8c8279));
  background: -webkit-linear-gradient(#9c9188 0%, #8c8279 100%);
  background: linear-gradient(#9c9188 0%, #8c8279 100%); }

.btn--gradient.darkblue {
  background: #003d4c;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#074453), to(#003d4c));
  background: -webkit-linear-gradient(#074453 0%, #003d4c 100%);
  background: linear-gradient(#074453 0%, #003d4c 100%); }

.btn--gradient.midblue {
  background: #002855;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0f427a), to(#002855));
  background: -webkit-linear-gradient(#0f427a 0%, #002855 100%);
  background: linear-gradient(#0f427a 0%, #002855 100%); }

.btn--gradient.brightblue {
  background: #0097a9;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0cadc0), to(#0097a9));
  background: -webkit-linear-gradient(#0cadc0 0%, #0097a9 100%);
  background: linear-gradient(#0cadc0 0%, #0097a9 100%); }

.btn--gradient.lightblue {
  background: #8db9ca;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a5cddd), to(#8db9ca));
  background: -webkit-linear-gradient(#a5cddd 0%, #8db9ca 100%);
  background: linear-gradient(#a5cddd 0%, #8db9ca 100%); }

.btn--gradient.stone {
  background: #d6d2c4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e0ddd1), to(#d6d2c4));
  background: -webkit-linear-gradient(#e0ddd1 0%, #d6d2c4 100%);
  background: linear-gradient(#e0ddd1 0%, #d6d2c4 100%); }

.btn--gradient.darkbrown {
  background: #4e3629;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5f4436), to(#4e3629));
  background: -webkit-linear-gradient(#5f4436 0%, #4e3629 100%);
  background: linear-gradient(#5f4436 0%, #4e3629 100%); }

/* Gradient button background color on click
-------------------------------------------------------------- */
.btn--gradient.darkgreen:active {
  background: #555025; }

.btn--gradient.midgreen:active {
  background: #8f993e; }

.btn--gradient.brightgreen:active {
  background: #b5bd00; }

.btn--gradient.lightgreen:active {
  background: #bbc592; }

.btn--gradient.yellow:active {
  background: #f6be00; }

.btn--gradient.darkred:active {
  background: #651d32; }

.btn--gradient.midred:active {
  background: #93272c; }

.btn--gradient.brightred:active {
  background: #d50000; }

.btn--gradient.lightred:active {
  background: #e03c31; }

.btn--gradient.orange:active {
  background: #ea7600; }

.btn--gradient.darkpurple:active {
  background: #4b384c; }

.btn--gradient.midpurple:active {
  background: #500778; }

.btn--gradient.brightpink:active {
  background: #ac145a; }

.btn--gradient.lightpurple:active {
  background: #c6b0bc; }

.btn--gradient.warmgrey:active {
  background: #8c8279; }

.btn--gradient.darkblue:active {
  background: #003d4c; }

.btn--gradient.midblue:active {
  background: #002855; }

.btn--gradient.brightblue:active {
  background: #0097a9; }

.btn--gradient.lightblue:active {
  background: #8db9ca; }

.btn--gradient.stone:active {
  background: #d6d2c4; }

.btn--gradient.darkbrown:active {
  background: #4e3629; }

/* 
* Base name: Tables
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
table {
  display: table;
  table-layout: auto;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  clear: left;
  float: left;
  border-spacing: 0;
  margin: 1.5em 0;
  font-size: 0.8em; }

thead, tbody, tfoot {
  display: table-row-group; }

thead {
  display: table-header-group; }

tbody {
  display: table-row-group; }

tfoot {
  display: table-footer-group; }

tr {
  display: table-row; }

th, td {
  display: table-cell;
  text-align: left;
  width: auto;
  border-bottom: 1px solid #ddd;
  border-top: none;
  vertical-align: middle;
  border-bottom: 1px solid #EEEEEE;
  padding: 0.25em 1em 0.25em 0; }

th {
  border-right: 1px solid #ddd;
  border-bottom-color: #ccc;
  color: #333333;
  font-weight: 700;
  background-color: #eee; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  caption-side: bottom;
  color: #666666;
  font-size: 0.875em;
  line-height: 1.4286;
  padding: 0.8571em 0 0.2857em;
  text-align: left; }

td, td img {
  vertical-align: top; }

/* Responsive Tables
-------------------------------------------------------------- */
.rt {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.rt th, .rt td {
  margin: 0;
  vertical-align: top;
  border: 1px solid #e6e6e6; }

.rt th {
  text-align: left; }

@media only screen and (max-width: 989px) {
  #rt1 {
    display: block;
    position: relative;
    width: 100%;
    border-top: 0; }

  #rt1 thead {
    display: block;
    float: left; }

  #rt1 tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }

  #rt1 thead tr {
    display: block; }

  #rt1 th {
    display: block; }

  #rt1 tbody tr {
    display: inline-block;
    vertical-align: top; }

  #rt1 td {
    display: block;
    min-height: 1.25em; }

  /* sort out borders */
  .rt th {
    border-bottom: 0; }

  .rt td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }

  .rt tbody tr {
    border-right: 1px solid #eee; } }
/* 
* Base name: Images
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
figcaption {
  color: #666666;
  font-size: 0.9em; }

figcaption h4 {
  margin-top: 0.2em; }

figure img {
  padding-top: 0.5em; }

figure + figure, figure + p {
  margin-top: 1em; }

/* Floated Images
-------------------------------------------------------------- */
img.float-left {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 3.0303%;
  margin-bottom: 1em; }

img.float-right {
  display: block;
  float: left;
  margin-left: 51.4596%;
  margin-right: -100%;
  width: 48.42929%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 3.0303%;
  margin-bottom: 1em; }

.small-image {
  max-width: 200px; }

.medium-image {
  max-width: 400px; }

.large-image {
  max-width: 767px; }

.xl-image {
  max-width: 989px; }

.xxl-image {
  max-width: 1400px; }

@media only screen and (max-width: 767px) {
  .large-image, .xl-image, .xxl-image {
    width: 100%; }

  .decorative {
    display: none !important; }

  img.float-left.large-image, img.float-left.xl-image, img.float-left.xxl-image, img.float-right.large-image, img.float-right.xl-image, img.float-right.xxl-image {
    width: 100%; } }
.no-respond {
  width: auto !important; }

/* Patterns */
/* 
* Partial name: Accordion
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.accordion {
  margin-top: 1em;
  margin-bottom: 1em; }
  .accordion dt, .accordion dd {
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 0; }
    .accordion dt:last-of-type, .accordion dd:last-of-type {
      border-bottom: 1px solid #ccc; }
    .accordion dt a, .accordion dd a {
      font-weight: bold; }
  .accordion dt a {
    color: black;
    display: block; }
  .accordion dd {
    border-top: 0;
    overflow: hidden; }
    .accordion dd:last-of-type {
      border-top: 1px solid #fff;
      position: relative;
      top: -1px; }

@media screen and (max-width: 766px) {
  .accordion__header {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px; } }

.accordion__content {
  /* ensure accordion nav is hidden and content is visible on desktop version */ }
  @media screen and (max-width: 766px) {
    .accordion__content {
      display: none;
      border-top: 0; } }
  @media screen and (min-width: 768px) {
    .accordion__content {
      display: block !important; } }

/* 
* Partial name: Box
* Use: For sectioning off content within copy
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.box {
  box-sizing: border-box;
  padding-left: 3.0303%;
  padding-right: 3.0303%;
  border-top: 5px solid #000;
  background: #fafafa;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 1em;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  position: relative; }
  .box *:last-child {
    margin-bottom: 0; }

.box--tagged {
  padding-top: 2em; }

.box--small {
  margin-bottom: 32/14em;
  padding: 20/14em;
  font-size: 14px; }

.box--rounded {
  border-radius: 4px; }

.box--blank {
  border-top: none; }

/* 
* Partial name: Blurb
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.blurb {
  position: relative;
  padding-bottom: 1em;
  overflow: hidden; }

.blurb__title {
  font-size: 16px;
  margin-top: 0;
  font-weight: 700; }

.blurb__img {
  margin-bottom: 0.5em; }
  .blurb--wide .blurb__img {
    display: block;
    float: left;
    margin-left: 0%;
    margin-right: -100%;
    width: 33%; }
    @media only screen and (max-width: 767px) {
      .blurb--wide .blurb__img {
        clear: both;
        display: block;
        float: left;
        margin-left: 0;
        width: 100%; } }

.blurb__body > *:last-child, .blurb__body > *:last-child > *:last-child, .blurb__body > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0; }
.blurb--wide .blurb__body {
  display: block;
  float: left;
  margin-left: 36.0303%;
  margin-right: -100%;
  width: 63.85859%;
  top: -4px;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .blurb--wide .blurb__body {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }

/* 
* Partial name: Divider
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
[class*=divider] {
  border-color: #ddd; }

[class*=divider][class*=top] {
  margin-top: 21px;
  padding-top: 21px;
  border-top-width: 1px;
  border-top-style: solid; }

[class*=divider][class*=bottom] {
  margin-bottom: 21px;
  padding-bottom: 21px;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

/* 
* Partial name: Branding
* Use: 
* Note:
* Author: 
-------------------------------------------------------------- */
.brand {
  position: absolute;
  z-index: 1;
  overflow: visible;
  width: 100%;
  max-width: 1470px;
  left: 0; }

.brand__heading {
  position: absolute;
  left: 35px;
  top: 25%;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold; }

.brand__logo {
  display: block;
  margin-bottom: 0; }

/* 
* Partial name: Map
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.map {
  margin-top: 1em; }

/* 
* Partial name: Slides
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 1em 0;
  margin-bottom: 2em; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.rslides li:before {
  display: none; }

/* 
* Partial name: Social
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.addthis_toolbox {
  margin-bottom: 2em; }

/* 
* Partial name: Tabs
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.tabbed__content {
  box-sizing: border-box;
  padding-left: 3.0303%;
  padding-right: 3.0303%;
  border: 10px solid #444;
  padding-top: 10px;
  padding-bottom: 2em; }
  .tabbed__content > *:last-child, .tabbed__content > *:last-child > *:last-child, .tabbed__content > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

.tabbed__list {
  margin-bottom: 0; }

.tabbed__item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  background-color: #444;
  line-height: normal;
  margin-bottom: 0;
  padding: 10px 15px;
  margin-right: 5px;
  border-bottom: 5px solid #fff; }
  .tabbed__item:before {
    display: none; }
  .tabbed__item.active {
    border-bottom: 5px solid #444; }

.tabbed__link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #fff; }
  .tabbed__link:hover {
    text-decoration: none;
    color: #fff; }

/* 
* Partial name: Photograph banner
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.photograph {
  padding: 0 35px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  left: -35px;
  padding-bottom: 12%; }

.photograph__description {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 5%;
  right: 35px;
  padding: 10px;
  font-size: 12px;
  font-style: italic;
  color: #fff;
  display: none; }

.photograph--on {
  padding-bottom: 30%; }
  .photograph--on .photograph__description {
    display: block; }

/* 
* Partial name: Pagination
* Use: For highlighting where a user is within a sequence of related pages
* Note:
* Author: 
-------------------------------------------------------------- */
.pagination {
  margin-top: 1em;
  list-style: none; }

.pagination a {
  text-decoration: none; }

.pagination li {
  display: inline;
  padding: 0.4em;
  list-style: none; }

.pagination li:before {
  display: none; }

/* 
* Partial name: Breadcrumbs
* Use: For highlighting where a user is within the site. Doubles up as a navigation
* Note: Only mobile the user will only ever see the last 3 items in the breadcrumb trail
* Author: 
-------------------------------------------------------------- */
.breadcrumb {
  display: block;
  overflow: hidden;
  margin-bottom: 0;
  list-style: none;
  border: 0;
  padding-bottom: 0;
  background: white;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ccc;
  margin-bottom: 1.5em; }

.breadcrumb__list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  display: inline-block; }
  .breadcrumb__list li {
    margin-left: 0;
    list-style-type: none; }
    .breadcrumb__list li:before {
      background-color: transparent !important; }

.breadcrumb__item {
  margin: 0;
  float: left;
  font-size: 0.9em;
  text-transform: none; }
  .breadcrumb__item:after {
    content: "/";
    color: #aaaaaa;
    margin: 0 0.75em;
    position: relative;
    top: 1px; }
  .breadcrumb__item:last-child:after {
    content: " ";
    margin: 0; }

.breadcrumb__item--current > a {
  text-decoration: none;
  cursor: default;
  color: #333333; }

/* 
* Partial name: Vcard
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.vcard {
  display: inline-block;
  margin-bottom: 1em;
  width: 100%; }

.vcard__item {
  margin-bottom: 0.5em;
  display: block; }

.vcard__item--fn {
  font-weight: bold;
  font-size: 0.9375em; }

.nav--left li {
  margin-bottom: 0.5em; }
  .nav--left li ul {
    margin: 10px 5%;
    font-size: 14px; }

nav.nav--top {
  display: none;
  position: relative;
  left: -35px;
  padding: 0 35px;
  width: 100%;
  background-color: #fff;
  margin-top: 0;
  padding-top: 1em;
  overflow: hidden; }
  nav.nav--top ul li {
    display: block;
    float: left;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid #ccc; }
    nav.nav--top ul li a {
      text-decoration: none;
      cursor: pointer;
      color: #333333; }
    nav.nav--top ul li:last-child {
      border-right: 0; }

.nav--horizontal #leftcol {
  display: none; }
  .nav--horizontal #leftcol .nav--left {
    display: none; }
  @media only screen and (max-width: 767px) {
    .nav--horizontal #leftcol {
      display: block; } }
.nav--horizontal .nav--top {
  display: block; }
  @media only screen and (max-width: 767px) {
    .nav--horizontal .nav--top {
      display: none; } }
.nav--horizontal .site-content__body {
  padding-top: 1em; }
.nav--horizontal #content {
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.nav--horizontal--2col .content__main {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 71.37803%; }
.nav--horizontal--2col .content__sidebar {
  display: block;
  float: left;
  margin-left: 74.41038%;
  margin-right: -100%;
  width: 25.58962%; }
@media only screen and (max-width: 989px) {
  .nav--horizontal--2col .content__main, .nav--horizontal--2col .content__sidebar {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    margin-bottom: 2em; } }

.nav--horizontal--1col .content__main {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 100%; }
.nav--horizontal--1col .content__sidebar {
  display: none; }

@media only screen and (max-width: 767px) {
  .nav--vertical .nav--left {
    display: none; } }

.nav--vertical--1col .content__main {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 100%; }

.nav--vertical--show-top-nav nav.nav--top {
  display: block; }
  @media only screen and (max-width: 767px) {
    .nav--vertical--show-top-nav nav.nav--top {
      display: none; } }
.nav--vertical--show-top-nav #leftcol {
  margin-top: 5em; }
  @media only screen and (max-width: 767px) {
    .nav--vertical--show-top-nav #leftcol {
      margin-top: 0; } }

.nav--mobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    .nav--mobile {
      display: block; }
      .nav--mobile ul:nth-child(n+2) {
        padding-left: 1em; } }

/* 
* Partial name: Video
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* 
* Partial name: Blog
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
ol.commentlist {
  list-style: none;
  margin: 0; }

ol.commentlist li {
  list-style: none;
  margin-left: 0; }

ol.commentlist li.comment {
  padding: 10px; }

ol.commentlist li.comment div.vcard {
  margin-bottom: 0; }

ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal; }

ol.commentlist li.comment div.vcard img.avatar {
  width: auto;
  float: left;
  margin: 0 1em 1em 0; }

ol.commentlist li.comment div.comment-meta {
  font-size: 12px; }

ol.commentlist li.comment div.comment-meta a {
  color: #ccc; }

ol.commentlist li.comment p {
  clear: left; }

ol.commentlist li.comment div.reply {
  font-size: 11px; }

ol.commentlist li.comment div.reply a {
  font-weight: bold; }

ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 10px 0 0; }

ol.commentlist li.comment ul.children li.depth-2 {
  border-left: 5px solid #555;
  margin: 0 0 10px 10px; }

ol.commentlist li.comment ul.children li.depth-3 {
  border-left: 5px solid #999;
  margin: 0 0 10px 10px; }

ol.commentlist li.comment ul.children li.depth-4 {
  border-left: 5px solid #bbb;
  margin: 0 0 10px 10px; }

ol.commentlist li.even {
  background: #fff; }

ol.commentlist li.odd {
  background: #f6f6f6; }

ol.commentlist li.parent {
  border-left: 5px solid #111; }

.posted {
  color: #8c8279;
  font-size: 0.8em;
  margin: -0.4em 0 1em; }

article.post + article.post {
  border-top: 1px dotted #8c8279;
  padding-bottom: 30px;
  margin-bottom: 1.5em; }

article > footer {
  padding: 0;
  margin-top: 1em;
  background: none; }

article > footer a {
  color: #136CB2;
  font-weight: normal;
  font-size: 0.8em; }

article > footer a:hover {
  color: #136CB2;
  text-decoration: underline; }

.content__sidebar .entry-title {
  font-size: 18px;
  font-weight: 700; }

.author.vcard {
  margin-bottom: 0; }

/* Longform content
-------------------------------------------------------------- */
@media screen and (max-width: 766px) {
  .active-header {
    background: url(/images/close.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    padding-right: 20px;
    border-bottom: none; }

  .active-header:hover {
    background: url(/images/close.png);
    background-repeat: no-repeat;
    background-position: right 50%; }

  .inactive-header {
    background: url(/images/open.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    padding-right: 20px; }

  .inactive-header:hover {
    background: url(/images/open.png);
    background-repeat: no-repeat;
    background-position: right 50%; } }
.flag, .more {
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  background-color: #B5BD00; }

.flag:hover {
  color: #fff;
  background: #8f993e;
  text-decoration: none; }

.meta, .blurb .meta {
  font-size: 1.2rem;
  font-size: 12px;
  color: #999;
  margin-bottom: 0.5em; }

.meta.photo {
  position: absolute;
  left: 0;
  top: 3px; }

.event-date {
  font-size: 13px;
  font-weight: bold; }

/* 
* Partial name: Search
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
/* 
* Partial name: Masthead
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.masthead {
  background-color: #444;
  font-size: 12px;
  color: #fff;
  height: 45px; }
  .masthead li {
    display: inline;
    margin-right: 1em; }
  .masthead img {
    width: auto; }
  .masthead a {
    color: #fff;
    text-decoration: none; }
  .masthead ul {
    font-size: 16px;
    margin-top: 8px; }
  @media screen and (max-width: 940px) {
    .masthead ul {
      font-size: 12px;
      font-size: 1.2rem;
      margin-top: 12px;
      margin-top: 1.2rem; } }

#search {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #666;
  padding-left: 0; }

/* Global Search
-------------------------------------------------------------- */
/* 01/10/2013: replacement CSS for rebuilt search form in masthead.*/
.masthead__search {
  position: relative;
  padding: 6px 0 3px 0;
  box-sizing: border-box;
  float: right;
  width: 42%; }
  .masthead__search input, .masthead__search label {
    width: auto; }
  .masthead__search label {
    margin-top: 9px; }
  .masthead__search .search {
    position: absolute;
    top: 0;
    left: 92%;
    width: 3.5em;
    line-height: 1;
    margin: 7px 0 3px;
    padding: 0;
    box-sizing: border-box;
    background: #4693ea;
    font-size: 1.2rem;
    font-size: 1.2em;
    -webkit-appearance: none;
    border-radius: 0;
    height: 30px; }
    @media only screen and (max-width: 767px) {
      .masthead__search .search {
        left: 80%;
        width: 20%; } }
    .masthead__search .search::hover {
      background: #034da1;
      border-color: #034da1; }
  .masthead__search .search-type {
    width: 40%;
    margin-bottom: 0;
    padding: 0 20px 0 0;
    margin: 0;
    float: left;
    box-sizing: border-box;
    text-align: right; }

#searchform {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAOCAMAAADHVLbdAAAANlBMVEUAAAD///+ZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZkiXNL4AAAAEXRSTlMAABAgMEBQYHCAj5+vv8/f7/4ucL8AAABtSURBVAjXTc9JFsQgCARQHEhi2xDq/pcNQxZh5Qd9lNQaEXXmSVXuvuF1z9ddsZmXgcsLZxym3WXTennlhdawyoyrvMvHO//bSAtGmqE+8KU2a/9pUIkI0Yh8Y4nsQ7ORebM8F+TjaPy+9m/RA8R7BAiqV590AAAAAElFTkSuQmCC) no-repeat scroll 95% center;
  padding: 0;
  background-color: #fff;
  margin-top: 7px;
  margin-bottom: 7px;
  position: absolute;
  top: 0;
  left: 40%;
  width: 50%;
  box-sizing: border-box; }
  #searchform input {
    margin-right: 0;
    padding-left: 10px;
    width: 85%;
    box-sizing: border-box;
    height: 30px; }
  @media only screen and (max-width: 767px) {
    #searchform {
      width: 75%; } }

#audiences {
  float: left;
  width: 55%; }

.header {
  position: relative;
  z-index: 100; }
  @media only screen and (max-width: 767px) {
    .header {
      background-color: #5f5f5f;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      left: -100%; }
      .mobile-open .header {
        left: 0; }
      .header a {
        color: #fff;
        padding: 0.5em 0;
        display: block;
        clear: both;
        font-size: 1.6rem; }
      .header ul {
        margin: 0; }
      .header li {
        margin-bottom: 0;
        display: block; }
      .header #leftcol {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        position: relative; }
      .header #logo,
      .header .site-brand {
        display: none; }
      .header .photograph {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 2em 0 0em 0;
        left: 0;
        background-color: transparent; }
      .header .wrapper {
        width: 100%; }
      .header #global-masthead {
        height: auto;
        border-bottom: 1px solid #ccc; }
        .header #global-masthead ul#audiences {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          float: none;
          margin-bottom: 1em; }
        .header #global-masthead .wrapper {
          background-color: #444; }
      .header #global-search {
        float: none;
        width: 100%;
        padding: 0;
        margin-top: 3.5em;
        height: 4em;
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
      .header #branding {
        position: static;
        padding-left: 0; }
        .header #branding p {
          left: 0;
          top: 50%; }
      .header #branding h1 {
        background-color: #222;
        padding: 0.5em 35px;
        position: relative;
        left: 0;
        width: 100%;
        box-sizing: border-box; }
      .header #nav-mobile-back {
        display: block;
        position: absolute;
        left: 5%;
        top: 5px;
        padding: 0;
        z-index: 1000;
        width: 50%; }
        .header #nav-mobile-back img {
          vertical-align: middle;
          display: inline-block;
          width: 30px;
          position: relative;
          margin: -5px -3px 0 -8px; } }

/* 
* Partial name: Footer
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.footer {
  background: black;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 35px;
  color: #bbb;
  clear: left; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding-left: 5%;
      padding-right: 5%; } }
  .footer h2 {
    margin-bottom: 0.5em; }
  .footer a {
    color: #eee;
    text-decoration: none; }
  .footer a:hover {
    color: #fff; }
  .footer article {
    margin-bottom: 1em; }
    .footer article ul {
      list-style-type: none;
      margin-bottom: 1em; }
      .footer article ul li {
        padding-bottom: 4px;
        padding-top: 4px;
        font-size: 14px;
        margin-bottom: 0; }
      .footer article ul li:before {
        content: none; }
  .footer hr {
    border-color: #ccc;
    clear: both; }

.footer__links {
  font-size: 14px;
  margin-top: 0.5em; }
  @media screen and (max-width: 989px) {
    .footer__links {
      font-size: 12px; } }

@media screen and (max-width: 989px) {
  footer article li {
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
    margin-left: 0; } }
/* 
* Partial name: Tag
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */
.tag {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  background-color: #B5BD00; }

/* Success, notice and error boxes
-------------------------------------------------------------- */
.message {
  box-sizing: border-box;
  padding-left: 3.0303%;
  padding-right: 3.0303%;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  clear: left;
  color: #666666;
  display: block;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 10px;
  margin-bottom: 10px; }
  .message > *:last-child, .message > *:last-child > *:last-child, .message > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0; }

.message--warning, .message--success {
  background-color: #FFFAFA;
  background-image: url("/images/alert.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #DD6868;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 3.0303%;
  padding-right: 3.0303%;
  margin-bottom: 1em;
  border: 1px solid #DD6868;
  font-weight: bold; }

.message--success {
  background-color: #F7FFF2;
  background-image: url("/images/success.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #7FB861;
  border: 1px solid #7FB861; }

.site-content {
  position: relative;
  z-index: 1; }

.site-content__body {
  background-color: #fff;
  padding: 2em 35px 2em 35px;
  left: -35px;
  position: relative;
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%; }

@media only screen and (max-width: 989px) {
  .site-content__body {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; } }
@media only screen and (max-width: 767px) {
  .site-content__body {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    padding-top: 1em; } }
/* Design Language Unique Styles -------------------------------- */
.photograph {
  background-color: #622e78; }

/* Colour Boxouts */
.darkgreen {
  background-color: #555025; }

.midgreen {
  background-color: #8f993e; }

.brightgreen {
  background-color: #b5bd00; }

.lightgreen {
  background-color: #bbc592; }

.yellow {
  background-color: #f6be00; }

.darkred {
  background-color: #651d32; }

.midred {
  background-color: #93272c; }

.brightred {
  background-color: #d50000; }

.lightred {
  background-color: #e03c31; }

.orange {
  background-color: #ea7600; }

.darkpurple {
  background-color: #4b384c; }

.midpurple {
  background-color: #500778; }

.brightpink {
  background-color: #ac145a; }

.lightpurple {
  background-color: #c6b0bc; }

.warmgrey {
  background-color: #8c8279; }

.darkblue {
  background-color: #003d4c; }

.midblue {
  background-color: #002855; }

.brightblue {
  background-color: #0097a9; }

.lightblue {
  background-color: #8db9ca; }

.stone {
  background-color: #d6d2c4; }

.darkbrown {
  background-color: #4e3629; }

.colours {
  color: #fff;
  margin-bottom: 1em; }

.colours > div {
  box-sizing: border-box;
  padding-left: 3.0303%;
  padding-right: 3.0303%;
  padding-top: 10px;
  padding-bottom: 10px; }

/* Type */
.roman {
  font-size: 1em; }

.thin {
  font-size: 1em; }

.bold {
  font-weight: 700;
  font-size: 1em; }

.italic {
  font-style: italic;
  font-size: 1em; }
