
/* Variables */
@import "variables/variables";

/* Vendor Dependencies */
@import "partials/gridset";

/* Mixins */
@import "mixins/media-query";
@import "mixins/gradient";
@import "mixins/no-js";
@import "mixins/modernizr";

/* Authored Dependencies */
@import "partials/reset";
@import "partials/helpers";

@import "partials/accordion";
@import "partials/article";
@import "partials/audio";
@import "partials/box";
@import "partials/code";
@import "partials/divider";
@import "partials/images";
@import "partials/links";
@import "partials/map";
@import "partials/slides";
@import "partials/social";
@import "partials/tabs";
@import "partials/tables";
@import "partials/wrapper";
@import "partials/vcard";
@import "partials/video";

@import "partials/elements";
@import "partials/typography";

 /* Patterns */
 @import "partials/forms";
 @import "partials/blog";

 /* Sections */
 @import "partials/globalmasthead";
 @import "partials/layout";

 /* Search */

// @import "partials/search/_search";

 /* Design Language Unique Styles -------------------------------- */


 .photograph {
 	background-color: #622e78;
 }


 /* Colour Boxouts */

.darkgreen {
	background-color: $darkgreen;
}

.midgreen {
	background-color: $midgreen;
}

.brightgreen {
	background-color: $brightgreen;
}

.lightgreen {
	background-color: $lightgreen;
}

.yellow {
	background-color: $yellow;
}

.darkred {
	background-color: $darkred;
}

.midred {
	background-color: $midred;
}

.brightred {
	background-color: $brightred;
}

.lightred {
	background-color: $lightred;
}

.orange {
	background-color: $orange;
}

.darkpurple {
	background-color: $darkpurple;
}

.midpurple {
	background-color: $midpurple;
}

.brightpink {
	background-color: $brightpink;
}

.lightpurple {
	background-color: $lightpurple;
}

.warmgrey {
	background-color: $warmgrey;
}

.darkblue {
	background-color: $darkblue;
}

.midblue {
	background-color: $midblue;
}

.brightblue {
	background-color: $brightblue;
}

.lightblue {
	background-color: $lightblue;
}

.stone {
	background-color: $stone;
}

.darkbrown {
	background-color: $darkbrown;
}


.colours {
	color: #fff;
	margin-bottom: 1em;
}

.colours > div {
	@include gs-pad(dl, padinfull);
	padding-top: 10px;
	padding-bottom: 10px;
}

 /* Type */

.roman {
	font-size: 1em;
}

.thin {
	font-size: 1em;
}

.bold {
	font-weight: 700;
	font-size: 1em;
}

.italic {
	font-style: italic;
	font-size: 1em;
}
