/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

<<<<<<< HEAD
/* Config */
@import "partials/environment";

=======
>>>>>>> upstream/master
/* Variables */
@import "variables/variables";

/* Vendor Dependencies */
@import "partials/gridset";

/* Mixins */
@import "mixins/media-query";
@import "mixins/gradient";
@import "mixins/no-js";
@import "mixins/modernizr";

/* Authored Dependencies */
@import "partials/reset";
@import "partials/helpers";

@import "partials/accordion";
@import "partials/article";
@import "partials/audio";
@import "partials/box";
@import "partials/code";
@import "partials/divider";
@import "partials/images";
@import "partials/links";
@import "partials/map";
@import "partials/slides";
@import "partials/social";
@import "partials/tabs";
@import "partials/tables";
@import "partials/wrapper";
@import "partials/vcard";
@import "partials/video";

@import "partials/elements";
@import "partials/typography";

/* Patterns */
@import "partials/forms";
@import "partials/blog";
@import "partials/carousel";

/* Sections */
@import "partials/globalmasthead";
@import "partials/layout";

/* Search */

@import "partials/search";
