/*
Sass::SyntaxError: ".hero__body" failed to @extend ".dl1-dl3".
The selector ".dl1-dl3" was not found.
Use "@extend .dl1-dl3 !optional" if the extend should be able to fail.


Backtrace:
sass/patterns/_hero.scss:78
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/util/subset_map.rb:106:in `block in each_value'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/util/subset_map.rb:106:in `each'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/util/subset_map.rb:106:in `each_value'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/Users/joshjohnson/.rvm/rubies/ruby-2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.7/bin/sass:13:in `<top (required)>'
/Users/joshjohnson/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/joshjohnson/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/joshjohnson/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/joshjohnson/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".hero__body\" failed to @extend \".dl1-dl3\".\A The selector \".dl1-dl3\" was not found.\A Use \"@extend .dl1-dl3 !optional\" if the extend should be able to fail.\A "; }
