// Module spacing
//--------------------------------------------------------------

$button-padding: .7rem;
$baseline: 1.5em;
$line-height: 1.7;


// layout
//--------------------------------------------------------------
$site-content-padding: 35px;



// lists
//-------------------------------------------------------------
$list-vertical-margin: 1em;
$list-margin-left: 1.5em;
