/* Module spacing
-------------------------------------------------------------- */

$button-padding: 0.7rem;
$baseline: 1.5em;
$line-height: 1.7;


/* layout
-------------------------------------------------------------- */
$site-content-padding: 35px;