/* Font stacks
-------------------------------------------------------------- */

$font-serif: "Georgia", "Times New Roman", serif;
$font-san-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-code: "consolas", "andale mono", "lucida console", monospace;
$font-line-numbers: "source-code-pro", monospace;