/* Font stacks
-------------------------------------------------------------- */

$font-serif: "Georgia", "Times New Roman", serif;
$font-san-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-code: "consolas", "andale mono", "lucida console", monospace;
$font-line-numbers: "source-code-pro", monospace;

$font-size-base: 16px;
$font-size-lg: ceil($font-size-base * 1.15);
$font-size-sm: ceil($font-size-base * 0.85);
$font-size-xs: ceil($font-size-base * 0.75);

$font-size-h1: 1em * 2;
$font-size-h2: 1em * 1.75;
$font-size-h3: 1em * 1.5;
$font-size-h4: 1em * 1.35;
$font-size-h5: 1em * 1.15;
$font-size-h6: 1em;