/* 
* Mixin name: Alignment
* Use: Align content with horizontal padding
* Note: N/A
-------------------------------------------------------------- */

@mixin alignment {
	position: relative;
	left: -35px;
	padding: 0 35px;
	width: 100%;
}