/* 
* Partial name: Article
* Use:
* Note: 
* Author: 
-------------------------------------------------------------- */

.article ul {
	li {
		list-style: none;
		position: relative;
		margin-bottom: 1em;
		@include gs-media(m, max) {
			margin-left: 1em;
		}
		&:before {
			content: "";
			display: block;
			background-color: #333;
			border-radius: 50%;
			height: 0.35em;
			width: 0.35em;
			position: absolute;
			left: -0.8em;
			top: 0.6em;
		}
	}
}