/* 
* Pattern name: Blocked link
* Use:
* Note:
* Author: 
-------------------------------------------------------------- */

.blocked-link {
	padding: 5px;
	color: $white;
	text-decoration: none;
	@include rem(font-size, $font-size-sm);
	background-color: #B5BD00;
	@include on-interaction {
		color: $white;
		background: #8f993e;
		text-decoration: none;
	}
}