/* 
* Partial name: Branding
* Use: 
* Note:
* Author: 
-------------------------------------------------------------- */

.brand {
	position: absolute;
	z-index: $zindex-brand;
	overflow: visible;
	width: 100%;
	max-width: 1470px;
	left: 0;
	@include gs-media(m, max) {
		position: static;
		padding-left: 0;
		p {
			left: 0;
			top: 50%;
		}
	}
}

.brand__heading {
	position: absolute;
	left: 35px;
	top: 25%;
	color: $white;
	@include font-size($font-size-sm);
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: bold;
	@include gs-media(m, max) {
		position: relative;
		left: 0;
		width: 100%;
		box-sizing: border-box;
	}
}

.brand__logo {
	display: block;
	margin-bottom: 0;
	@include gs-media(m, max) {
		display: none;
	}
}