/* 
* Pattern name: Breadcrumbs
* Use: For highlighting where a user is within the site. Doubles up as a navigation
* Note: Only mobile the user will only ever see the last 3 items in the breadcrumb trail
* Author: 
-------------------------------------------------------------- */

.breadcrumb {
	display: block;
	overflow: hidden;
	margin-bottom: 0;
	list-style: none;
	border:0;
	padding-bottom: 0;
	background: white;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ccc;
	margin-bottom: 1.5em;
}

.breadcrumb--nav {
	@include alignment;
	.breadcrumb__list {
		line-height: 4;
	}
}

.breadcrumb__list {
	@include list-unstyled;
	@include inline-block;
	margin-bottom: 0;	
	vertical-align: top;
}	

.breadcrumb__item {
	margin: 0;
	float: left;
	@include rem(font-size, $font-size-sm);
	text-transform: none;

	&:after {
		content: "/";
		color: #aaaaaa;
		margin: 0 0.75em;
		position: relative;
		top: 1px; 
	}

	&:last-child:after {
		content: " ";
		margin: 0; 
	}
}

.breadcrumb__item--current {
	> a {
		text-decoration: none;
		cursor: default;
		color: #333333;
	}
}