/* 
* Pattern name: Tag
* Use: Small block of overlayed text over an image
* Note: Modifiers adjust positioning of tag (default: left)
-------------------------------------------------------------- */

.btn.cta {
	background-color: $cta-blue; 
	text-align:center;
	font-weight:bold;
	border:none;
	&:hover {
		background-color: $cta-navy;
	}
}

.btn.cta {
	width:100%;
}

.btn.cta-half {
	width:50%;
}

.btn.cta-threequarters {
	width:75%;
}
