/* 
* Pattern name: Divider
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

[class*=divider] {
	border-color: #ddd;
}

[class*=divider][class*=top] {
	margin-top: 21px;
	padding-top: 21px;
	border-top-width: 1px;
	border-top-style: solid;
}

[class*=divider][class*=bottom] {
	margin-bottom: 21px;
	padding-bottom: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}