/* 
* Pattern name: Footer
* Use: Handling links, credits and footnotes
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.footer {}

.footer__inner {
	background: rgb(0, 0, 0);
	background: rgba($black, 0.7);
	padding: 40px 35px;
	margin-left: -35px;
	margin-right: -35px;
	color: #bbb;
	clear: left;
	a {
		color: #eee;
		@include on-interaction {
			color: $white;
		}
	}
}

.footer__list {	
	@include list-unstyled;
}


.footer__item {
	padding-bottom: 4px;
	padding-top: 4px;
	display: block;
	@include rem(font-size, $font-size-sm);
	margin-bottom: 0;
}

.footer__links {
	@include rem(font-size, $font-size-sm);
	margin-top: 0.5em;
	@include respond-max($screen-lg) {
		@include rem(font-size, $font-size-xs);
	}
}