.header {
	position: relative;
	z-index: $zindex-header;

	@include gs-media(m, max) {
		background-color: #5f5f5f;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: auto;
		overflow-x: hidden;
		transition: all, .5s;
		transform: translateX(-100%);

		// Use top position if browser does not support transform (better transition performance)
		.no-csstransforms & {
		    left: -100%;
		}

		.mobile-open & {
			transition: all, .5s;
			transform: translateX(0);

			.no-csstransforms & {
			    left: 0;
			}
		}

		a {
			color: #fff;
			padding: 0.5em 0;
			display: block;
			clear: both;
			font-size: 1.6rem;
		}
	}
}

.header-mobile {
	display: none;
	width: 100%;
	padding: 20% 35px 0;
	background-size: auto 100%;
	background-position: 106% bottom;
	background-image: url("#{$static-url}/images/ucl-logo.svg");
	background-repeat: repeat-x;
	position: relative;
	left: -35px;
	background-color: #fff;

	&.no-svg {
		background-image: url("#{$static-url}/images/ucl-logo-cropped-white.png");
		background-repeat: no-repeat;
		background-position: right bottom;
		background-color: #000;
		background-size: 90%;
	}
	
	@include gs-media(m, max) {
		display: block;
	}
}


.header-mobile__menu {
	@include gs-media(m, max) {
		width: 20px;
		top: 35%;
		left: 35px;
		position: absolute;
		z-index: $zindex-mobile-menu;
	}
}