/* Partials */
/* colours
--------------------------------------------------*/
/* Mixins */
.masthead__search ul {
	margin-left: 0;
	margin-top: 0; }
.masthead__search li.tt-suggestion {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0.5em 2%; }
.masthead__search ul.profile-details li {
	display: block; }

	.masthead__search .sprite, .masthead__search .AC-result .email:before, .masthead__search .AC-result .tel:before {
		background-image: url("/images/search-sprite.png");
		margin-left: 10px; }
	.masthead__search .tt-dropdown-menu {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 4px;
		box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.3);
		left: 5%;
		position: absolute;
		top: 38px;
		width: 90%;
		z-index: 5050; }
		.masthead__search .tt-dropdown-menu ul {
			margin-bottom: 10px; }
		.masthead__search .tt-dropdown-menu li {
			color: #333;
			list-style: none;
			border-bottom: 1px solid #e7e7e7;
			height: 4.5em;
			width: 96%;
			text-align: left; }
			.masthead__search .tt-dropdown-menu li h3 {
				margin-top: 0; }
			.masthead__search .tt-dropdown-menu li p {
				font-size: 0.8em;
				line-height: 1.4;
				margin-bottom: 0; }
				.masthead__search .tt-dropdown-menu li p a {
					text-decoration: none;
					font-size: 1em; }
			.masthead__search .tt-dropdown-menu li a {
				color: #4693ea !important;
				display: block;
				font-size: 0.8em;
				font-weight: bold;
				margin-bottom: 8px; }
		.masthead__search .tt-dropdown-menu .no-results {
			color: #4693ea !important;
			display: block;
			font-size: 0.8em;
			font-weight: bold;
			text-align: center; }
	.masthead__search .AC-results {
		box-sizing: border-box;
		display: table;
		height: 100%;
		padding: 16px 0;
		table-layout: fixed;
		width: 100%; }
	.masthead__search .AC-result {
		display: table-cell;
		height: 100%;
		margin-left: 5px;
		padding: 0;
		border-left: 1px solid #AAA;
		width: 25%; }
		.masthead__search .AC-result:first-child {
			margin-left: 0;
			border-left: 1px solid transparent; }
		.masthead__search .AC-result h2 {
			color: #000;
			font-weight: bold;
			font-size: 1em;
			margin-bottom: 4px;
			padding: 0.5em; }
		.masthead__search .AC-result a {
			color: #4693ea !important;
			display: block;
			font-size: 0.8em;
			font-weight: bold; }
		.masthead__search .AC-result ul li:hover {
			background-color: #e6f1fc;
			font-size: auto; }
			.masthead__search .AC-result ul li:hover li:hover {
				background-color: transparent; }
		.masthead__search .AC-result ul li li {
			height: auto; }
		.masthead__search .AC-result img {
			max-height: 60px;
			max-width: 60px; }
		.masthead__search .AC-result a.show-all {
			text-align: center;
			margin-bottom: 0.5em; }
	.masthead__search .AC-result--directory .AC-details__image {
		display: table-cell;
		padding-top: 5px; }
	.masthead__search .AC-result--directory .AC-details__image img {
		margin-right: 20px;
		display: block;
		padding-left: 16px; }
	.masthead__search .AC-result--directory .AC-details {
		display: block;
		float: left;
		width: 77%; }
		.masthead__search .AC-result--directory .AC-details .profile-details li {
			border-bottom: 0;
			margin-bottom: 0;
			padding-left: 0;
			font-size: 0.8em; }
			.masthead__search .AC-result--directory .AC-details .profile-details li a {
				font-size: 1em; }
	.masthead__search .AC-result--directory img {
		float: left;
		position: relative;
		top: 0.5em; }
	.masthead__search .AC-result .email {
		clear: left;
		float: left;
		padding-left: 30px;
		line-height: 24px;
		position: relative; }
		.masthead__search .AC-result .email:before {
			content: '';
			position: absolute;
			left: -35px;
			width: 18px;
			height: 12px;
			top: 6px; }
		.masthead__search .AC-result .email a {
			color: #4c98e5;
			font-size: 0.8em; }
	.masthead__search .AC-result .tel {
		font-size: 0.8em;
		line-height: 20px;
		padding-left: 30px;
		position: relative; }
		.masthead__search .AC-result .tel span {
			font-weight: bold;
			display: inline; }
		.masthead__search .AC-result .tel a {
			display: inline; }
		.masthead__search .AC-result .tel:before {
			content: '';
			position: absolute;
			left: -35px;
			width: 20px;
			height: 18px;
			top: 3px;
			background-position: 0 -31px; }
	.masthead__search .tel--external, .masthead__search .AC-result .email {
		position: relative;
		left: 2em; }
	.masthead__search .twitter-typeahead {
		width: 100%; }
	.masthead__search #query {
		outline: 0;
		border: none; }
	@media (max-width: 1023px) {
		.masthead__search .tt-dropdown-menu {
			display: none !important; } }
	@media (max-width: 1220px) {
		.masthead__search .tt-dropdown-menu .AC-result--directory img {
			display: none !important; } }

/*# sourceMappingURL=screen.css.map */
#searchUcl {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #666; }

.masthead__search ul {
	margin-top: 10px; }
.masthead__search li a {
	color: #fff !important; }

.masthead__search form {
	height: 30px;
	width: 85%;
	left: 0;
	top: 0; }
	.masthead__search form .fa {
		float: left;
		margin-right: 10px;
		top: 3px;
		position: relative; }
	.masthead__search form ul.profile-details {
		margin: 0;
		width: 100%; }
	.masthead__search form h2 {
		margin-top: 0;
		font-size: 18px !important; }
		@media screen and (max-width: 1200px) {
			.masthead__search form h2 {
				height: 32px; } }
	.masthead__search form input#searchUcl {
		font-size: 14px; }

.masthead__search .search {
	left: 88%;
	width: 12%;
	border-radius: 4px; }
.masthead__search .tt-dropdown-menu li {
	width: 96%;
	height: 64px;
	max-height: 64px;
	font-size: 12px; }
	.masthead__search .tt-dropdown-menu li a {
		font-size: 12px; }
	.masthead__search .tt-dropdown-menu li p {
		font-size: 12px; }
		.masthead__search .tt-dropdown-menu li p a {
			font-size: 12px; }
.masthead__search .AC-result--directory .AC-details .profile-details li {
	font-size: 12px; }
