/* 
* Pattern name: Masthead
* Use: Container of global navigation items and site search
* Note: N/A
-------------------------------------------------------------- */

.masthead {
	background-color: #444;
	color: $white;
	height: 45px;
	@include rem(font-size, $font-size-xs);
	@include gs-media(m, max) {
		height: auto;
		border-bottom: 1px solid #ccc;
		.wrapper {
			background-color: #444;
		}
	}

	img {
		width: auto;
	}
}

.masthead__search {
	position: relative;
	padding: 6px 0 3px 0;
	box-sizing: border-box;
	float: right;
	width: 42%;
	@include gs-media(m, max) {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 3.5em;
		height: 4em;
		margin-left: auto;
		margin-right: auto;
	}
	label {
		margin-top: 9px;
	}
}

.masthead__list {
	float: left;
	width: 55%;
	font-size: 16px;
	display: block;
	margin-left: 0;
	@include gs-media(m, max) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		float: none;
		margin-bottom: 1em;
	}
	@include respond-max($screen-lg) {
		@include rem(font-size, $font-size-sm);
	}
}

.masthead__item {
	padding-right: 1em;
	height: 45px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	@include gs-media(m, max) {
		display: block;
		text-align: left;
	}
	@include respond-max($screen-lg) {
		padding-right: .75em;
	}
	.lt-ie9 & {
		margin-top: 8px;
		@include inline-block;
	}
}

.masthead__link {
	font-weight: 400;
	color: $white;
	text-decoration: none;
	@include on-interaction {
		color: $white;
	}
}
