/* 
* Partial name: Media
* Use: For a content block aligned to an image
* Note: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
* Author: 
-------------------------------------------------------------- */


.media {
	@extend .clearfix;
}

.media__aside {
	float: left;
	margin-right: 1em;
	max-width: em(48);
	min-height: 1px; // http://css-tricks.com/make-sure-columns-dont-collapse-horizontally/

	@include respond-min($screen-md) {
		margin-right: 1.5em;
		max-width: em(64);
	}

	@include respond-max($screen-md) {
		display: none;
	}
}

.media__aside img,
img.media__aside {
	width: auto !important;
	height: auto !important;
}

.media__body {
	overflow: hidden;
	max-width: 40em;
	margin: 0;

	@include respond-max($screen-md) {
		@include font-size($font-size-sm);
	}
}

.media__body--wide {
	@extend .media__body;
	max-width: 60em;
}
