/* 
* Pattern name: Menu Block
* Use: Stacked navigation menu with basic styling
* Note: N/A
-------------------------------------------------------------- */


.menu-block {
	@include list-unstyled;
	padding: 0;
	border: 1px solid lighten(#ccc, 7.5%);
	@include respond-max($screen-lg) {
		margin-bottom: .5em;
	}
}

.menu-block--no-keyline {
	border: 0;
}

.menu-block__list {
	@include list-unstyled;
	margin-bottom: 0;
	margin-top: 0;

	.is-active {
		border-left: .4em solid #333;
		font-weight: bold;
	} 
}

.menu-block__item {
	position: relative;
	padding: 0;
	background-color: #EEE;
	margin-bottom: 0;
	line-height: 3;
	border-bottom: 1px solid lighten(#ccc, 7.5%);
	&:last-child {
		border-bottom: 0;
	}
}

.menu-block__item--heading {
	@include on-interaction {
		text-decoration: none;
	};
}

.menu-block__link {
	padding-left: 1em;
	display: block;
	color: #333333;
	transition: all .5s;
	padding-right: 2.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	@include on-interaction {
		background-color: lighten(#ccc, 7.5%); 
		transition: all .5s;
		color: #333333;
	};

	&.is-current {
		margin-bottom: -1px;
		background-color: black;
		color: white;
	}
}