.nav {
	ul { margin-left: 0; }
}

.nav--left {
	li {
		margin-bottom: 0.5em;
		ul {
			margin: 10px 5%;
			@include font-size($font-size-sm);
		}
	}
}

.nav--top {
	display: none;
	width: 100%;
	background-color: $content-bg-color;
	@include alignment;
	padding-bottom: $baseline;
	overflow: hidden;
	ul {
		li {
			display: block;
			float: left;
			padding-right: 1em;
			margin-right: 1em;
			border-right: 1px solid $rule-color;
			a {
				text-decoration: none;
				cursor: pointer;
				color: $nav-horizontal-color;
			}
			&:last-child {
				border-right: 0;
			}
		}
	}
}

.nav--mobile {
	display: none;
	@include gs-media(m, max) {
		display: block;
		ul {
			&:nth-child(n+2) {
				padding-left: 1em;
			}
		}
	}
}

.nav-mobile-back {
	display: none;
	@include gs-media(m, max) {
		display: block;
		position: absolute;
		left: 5%;
		top: 5px;
		padding: 0;
		z-index: $zindex-mobile-menu-back;
		width: 50%;
		img {
			vertical-align: middle;
			display: inline-block;
			width: 30px;
			position: relative;
			margin: -5px -3px 0 -8px;
		}
	}
}