/* 
* Partial name: Pagination
* Use: For highlighting where a user is within a sequence of related pages
* Note:
* Author: 
-------------------------------------------------------------- */

.pagination {
	margin-top: 1em;
	list-style: none;
}

.pagination a {
	text-decoration: none;
}

.pagination li {
	display: inline;
	padding: 0.4em;
	list-style: none;
}

.pagination li:before {
	display: none;
}