/* 
* Pattern name: Pull quote
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.pull-quote {
	margin-top: 2em;
	margin-bottom: 2em;
}

.pull-quote__wrap {
	line-height: 1.5em;
	font-size: 20px;
	font-family: $font-serif;
	font-style: italic;
	color: rgba($black, 0.7);
}

.pull-quote__meta {
	border-top: 1px dotted;
	padding-top: 1em;
	border-color: rgba($black, 0.2);
	float: left;
	@include rem(font-size, $font-size-xs);
	margin-top: 1em;
	width: 100%;
}

.pull-quote--left, .pull-quote--right {
	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.pull-quote--left {
	@include gs-span(dc, 1, 2);
	@include gs-float(dc, left);
}

.pull-quote--right {
	@include gs-span(dc, 3, 4);
	@include gs-float(dc, right);
}

.pull-quote__start {
	color: #c2c2ba;
	float: left;
	font-size: 400%;
	height: 45px;
	margin-bottom: -42px;
	margin-top: 0;
	padding-top: 22px;
	padding-right: 10px;
	font-style: normal;
}

.pull-quote__end {
	color: #c2c2ba;
	float: right;
	font-size: 400%;
	height: 25px;
	margin-top: 0;
	padding-top: 60px;
	padding-left: 10px;
	font-style: normal;
}