/* 
* Pattern name: Tabs
* Use: Related tabular content
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.tabbed {}

.tabbed__content {
	@include gs-pad(dc, padinfull);
	border: 10px solid #444;
	padding-top: 10px;
	padding-bottom: 2em;
	@include guttering;
}

.tabbed__list {
	margin-left: 0;
	margin-bottom: 0;
}

.tabbed__item {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	float: left;
	background-color: #444;
	line-height: normal;
	margin-bottom: 0;
	padding: 10px 15px;
	margin-right: 5px;
	border-bottom: 5px solid #fff;
	&:before {
		display: none;
	}
	&.is-active {
		border-bottom: 5px solid #444;
	}
}

.tabbed__link {
	display: block;
	@include rem(font-size, $font-size-sm);
	font-weight: bold;
	color: $white;
	@include on-interaction {
		text-decoration: none;
		color: $white;
	}
}