/* 
* Partial name: Tag
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.tag {
	@include font-size($font-size-xs);
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;
	background-color: #B5BD00;
}