/* Code
-------------------------------------------------------------- */

pre {
	margin: 1.5em 0;
	white-space: pre;
}

pre,code,tt {
	font: 1em 'consolas', 'andale mono', 'lucida console', monospace;
}