/* 
* Base name: Forms
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

/*
* Common form controls
* 
* Shared size and type resets for form controls. Apply `.form__control` to any
* of the following form controls:
* 
* select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"]
* input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"]
* input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
-------------------------------------------------------------- */
.form-control {
	margin: 0.5em 0;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #e0e0e0 inset;
	color: #333;
	width: 100%;
}

fieldset {
	margin: 0 0 1em 0;
}

legend {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

input {
	padding: 0.5em 2%;
	vertical-align: middle;
	margin: 0;
	box-sizing: border-box;
}

form > ul {
	list-style: none;
	margin: 0;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	display: inline;
	margin-left: 5px;
}

// Set the height of file controls to match text inputs
input[type="file"] {
    display: block;
    padding-left: 0;
    padding-right: 0;
}

// Make range inputs behave like textual form controls
input[type="range"] {
    display: block;
    width: 100%;
}

fieldset > div:first-of-type {
	margin-top: 0;
}

label, fieldset.options legend {
	display: block;
	font-size: 0.9em;
	color: #494949;
	font-weight: 700;
}

label span {
	color: #990000;
}

fieldset abbr[title="Required"] {
	border-bottom: 0 none;
	color: #AF1616;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 0.1;
}

input.text, textarea {
	padding-left: 2%;
	padding-right: 2%;
}

select {
	margin: 0.5em 0 0;
	width: 100%;
}

form em {
	font-size: 0.8em;
	color: #848484;
}

fieldset.options {
	margin: 1em 0;
}

fieldset.options ul {
	list-style: none;
	margin: 0 0 0.5em;
}

/* Form fields
-------------------------------------------------------------- */

input, textarea {
	@include font-size($font-size-sm);
	font-family: "Helvetica Neue",Arial,sans-serif;
	box-sizing: border-box;
	color: #333;
}

input[type=submit] {
	cursor: pointer;
}

input, select {
	outline: 0;
	&:focus {
		outline: 0;
	}
}

input:disabled {
	cursor: not-allowed;
}

input[type=text],
input[type=search] {
	@include font-size($font-size-sm);
	line-height: 1;
	box-sizing: border-box;
}

input[type=checkbox],
input[type=radio] {
	vertical-align: baseline;
	background: none;
	border: none;
}

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=reset],
input[type=search],
input[type=submit] {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input.text:focus, input.title:focus,
textarea:focus {
	border: 1px solid #666;
}

.inline label {
	@include gs-span(dc, 1);
	@include font-size($font-size-sm);
	text-align: right;
	line-height: 38px;
}

.prepend span {
	@include gs-span(dc, 1);
	@include gs-pad(dc, pad);
	margin-left: 1.51515%;
	color: #848484;
	@include font-size($font-size-sm);
	text-align: right;
	line-height: 26px;
	margin-top: 5px;
	display: block;
	background-color: #eee;
}

.inline input, .prepend input {
	@include gs-span(dc, 2, 4);
	padding-left: 0;
	padding-right: 0;
	@include gs-pad(dc, padin);
}

.inline em {
	@include gs-span(dc, 2, 4);
	clear: left;
}

.prepend em {
	@include gs-span(dc, all);
}

input.error {
	background-color: $white;
	border: 1px solid #DD6868;
}

.error {
	color: #c60f13;
}