/* 
* Base name: Layout
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
	position: relative;
}

#leftcol {
	position: absolute;
	margin-top: 3em;
	left: 0;
	width: 19.8653%;
	@include gs-media(m, max) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-top: 0;
	}
}

/* Main Content
-------------------------------------------------------------- */

.content {
	@include gs-span(dl, 2, 5);
	@include gs-media(t, max) {
		@include gs-span(t, 2, 3);
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.content__main {
	@include gs-span(dl, 2, 3, (2, 5));
	@include gs-media(t, max) {
		@include gs-span(t, all, (2, 3));
		margin-bottom: 2em;
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.content__sidebar {
	font-size: 14px;
	@include gs-span(dl, 5, 5, (2, 5));
	@include gs-media(t, max) {
		@include gs-span(t, all, (2, 3));
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.middle-split {
	overflow: hidden;
	@include gs-media(t, min) {
		section {
			float: left;
			margin-left: 2%;
			margin-right: 2%;
			width: 47%;
			&:nth-child(odd) {
				margin-right: 1%;
			}
			&:nth-child(even) {
				margin-left: 1%;
			}
		}
	}
}

.block {
	margin-bottom: 1em;
}

.block--col-1 {
	@include gs-span(dl, 1, 2);
	@include gs-media(t, max) {
		@include gs-span(t, 1);
	}

	@include gs-media(m, max) {
		@include gs-span(m, 1);
	}
}

.block--col-2 {
	@include gs-span(dl, 3);
	@include gs-media(t, max) {
		@include gs-span(t, 2);
	}

	@include gs-media(m, max) {
		@include gs-span(m, 2);
	}
}

.block--col-3 {
	@include gs-span(dl, 4, 5);
	@include gs-media(t, max) {
		@include gs-span(t, 3);
	}

	@include gs-media(m, max) {
		@include gs-span(m, 1);
		clear: left;
	}
}