/* 
* Base name: Layout
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
	position: relative;
}

#leftcol {
	position: absolute;
	margin-top: 3em;
	left: 0;
	width: 19.8653%;
	@include gs-media(m, max) {
		margin-top: 2em;
	}
}


#nav-mobile-back, #header-mobile {
	display: none;
}

@include gs-media(m, max) {
	#header-mobile {
		display: block;
		width: 100%;
		padding: 20% 35px 0;
		background-size: auto 100%;
		background-position: 106% bottom;
		background-image: url("#{$staticUrl}/images/ucl-logo.svg");
		background-repeat: repeat-x;
		position: relative;
		left: -35px;
		background-color: #fff;
		h1 {
			position: absolute;
			font-size: 12px;
			top: 1em;
			left: 1em;
		}
		#nav-mobile-menu {
			width: 20px;
			top: 35%;
			left: 35px;
			position: absolute;
			z-index: 1000;
		}
		&.no-svg {
			background-image: url("#{$staticUrl}/images/ucl-logo-cropped-white.png");
			background-repeat: no-repeat;
			background-position: right bottom;
			background-color: #000;
			background-size: 90%;
		}
	}
}


/* Main Content
-------------------------------------------------------------- */


#content {
	@include gs-span(dl, 2, 5);

	@include gs-media(t, max) {
		@include gs-span(t, 2, 3);
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.content-main {
	@include gs-span(dl, 2, 3, (2, 5));
	@include gs-media(t, max) {
		@include gs-span(t, all, (2, 3));
		margin-bottom: 2em;
	}
	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.content-sidebar {
	@include gs-span(dl, 5, 5, (2, 5));

	@include gs-media(t, max) {
		@include gs-span(t, all, (2, 3));
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.middle-split {
	overflow: hidden;
	@include gs-media(t, min) {
		section {
			float: left;
			margin-left: 2%;
			margin-right: 2%;
			width: 47%;
			&:nth-child(odd) {
				margin-right: 1%;
			}
			&:nth-child(even) {
				margin-left: 1%;
			}
		}
	}
}

.block-myucl {
	@include gs-span(dl, 1, 2);

	@include gs-media(t, max) {
		@include gs-span(t, 1);
	}

	@include gs-media(m, max) {
		@include gs-span(m, 1);
	}
}

.block-finditfast1 {
	@include gs-span(dl, 3);
	@include gs-media(t, max) {
		@include gs-span(t, 2);
	}
	@include gs-media(m, max) {
		@include gs-span(m, 2);
	}
}

.block-finditfast2 {
	@include gs-span(dl, 4, 5);
	@include gs-media(t, max) {
		@include gs-span(t, 3);
	}
	@include gs-media(m, max) {
		@include gs-span(m, 1);
		clear: left;
	}
}