/* 
* Base name: Layout
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

/* UCL Banner
-------------------------------------------------------------- */


/* Site Branding Structure
-------------------------------------------------------------- */

.site-brand {
	padding-top: 12%;
}


/* Left Column + Navigation
-------------------------------------------------------------- */

#leftcol {
	position: absolute;
	margin-top: 3em;
	left: 0;
	width: 19.8653%;
}

.leftnav li {
	margin-bottom: 0.5em;
	ul {
		margin: 10px 5%;
		font-size: 14px;
	}
}

#nav-mobile-back, #header-mobile {
	display: none;
}

@mixin mobileNavListingLayoutFix {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

@include gs-media(m, max) {
	#leftcol {
		margin-top: 2em;
	}
	#header-mobile {
		display: block;
		width: 100%;
		padding: 20% 35px 0;
		background-size: auto 100%;
		background-position: 106% bottom;
		background-image: url("#{$staticUrl}/images/ucl-logo.svg");
		background-repeat: repeat-x;
		position: relative;
		left: -35px;
		background-color: #fff;
		h1 {
			position: absolute;
			font-size: 12px;
			top: 1em;
			left: 1em;
		}
		#nav-mobile-menu {
			width: 20px;
			top: 35%;
			left: 35px;
			position: absolute;
			z-index: 1000;
		}
		&.no-svg {
			background-image: url("#{$staticUrl}/images/ucl-logo-cropped-white.png");
			background-repeat: no-repeat;
			background-position: right bottom;
			background-color: #000;
			background-size: 90%;
		}
	}
}


/* Main Content
-------------------------------------------------------------- */




#content {
	@include gs-span(dl, 2, 5);
}

@include gs-media(t, max) {
	#content {
		@include gs-span(t, 2, 3);
	}
}


@include gs-media(m, max) {
	#content {
		@include gs-span(m, all);
	}
}


.content-main {
	@include gs-span(dl, 2, 3, (2, 5));
}

@include gs-media(t, max) {
	.content-main {
		@include gs-span(t, all, (2, 3));
		margin-bottom: 2em;
	}
}


@include gs-media(m, max) {
	.content-main {
		@include gs-span(m, all);
	}
}


.content-sidebar {
	@include gs-span(dl, 5, 5, (2, 5));
}

@include gs-media(t, max) {
	.content-sidebar {
		@include gs-span(t, all, (2, 3));
	}
}


@include gs-media(m, max) {
	.content-sidebar {
		@include gs-span(m, all);
	}
}


.middle-split {
	overflow: hidden;
	@include gs-media(t, min) {
		section {
			float: left;
			margin-left: 2%;
			margin-right: 2%;
			width: 47%;
			&:nth-child(odd) {
				margin-right: 1%;
			}
			&:nth-child(even) {
				margin-left: 1%;
			}
		}
	}
}

.block-myucl {
	@include gs-span(dl, 1, 2);
}

@include gs-media(t, max) {
	.block-myucl {
		@include gs-span(t, 1);
	}
}


@include gs-media(m, max) {
	.block-myucl {
		@include gs-span(m, 1);
	}
}


.block-finditfast1 {
	@include gs-span(dl, 3);
}

@include gs-media(t, max) {
	.block-finditfast1 {
		@include gs-span(t, 2);
	}
}


@include gs-media(m, max) {
	.block-finditfast1 {
		@include gs-span(m, 2);
	}
}


.block-finditfast2 {
	@include gs-span(dl, 4, 5);
}

@include gs-media(t, max) {
	.block-finditfast2 {
		@include gs-span(t, 3);
	}
}


@include gs-media(m, max) {
	.block-finditfast2 {
		@include gs-span(m, 1);
		clear: left;
	}
}


@mixin nav-in-document-flow {
	position: relative;
	left: -35px;
	padding: 0 35px;
}

/* horizontal navigation layouts
----------------------------------------------------------------------------------*/
nav.topnav {
	display: none;
	@include nav-in-document-flow;
	width: 100%;
	background-color: $content-bg-color;
	margin-top: 0;
	padding-top: 1em;
	overflow: hidden;
	ul {
		li {
			display: block;
			float: left;
			padding-right: 1em;
			margin-right: 1em;
			border-right: 1px solid $ruleColor;
			a {
				text-decoration: none;
				cursor: pointer;
				color: $horizontalNavColor;
			}
			&:last-child {
				border-right: 0;
			}
		}
	}
}

.horizontal-nav {
	#leftcol {
		display: none;
		.leftnav {
			display: none;
		}
		@include gs-media(m, max) {
			display: block;
		}
	}
	.topnav {
		display: block;
		@include gs-media(m, max) {
			display: none;
		}
	}
	.site-content__body {
		padding-top: 1em;
	}
	#content {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.horizontal-nav--2col {
	.content-main {
		@include gs-span(dl, 1, 4, (1, 5));
	}
	.content-sidebar {
		@include gs-span(dl, 5, 5, (1, 5));
	}
	@include gs-media(t, max) {
		.content-main,.content-sidebar {
			@include gs-span(t, all, (1, 3));
			margin-bottom: 2em;
		}
	}
}

.horizontal-nav--1col {
	.content-main {
		@include gs-span(dl, 1, 5, (1, 5));
	}
	.content-sidebar {
		display: none;
	}
}

.vertical-nav {
	@include gs-media(m, max) {
		.leftnav {
			display: none;
		}
	}
}

.vertical-nav--1col {
	.content-main {
		@include gs-span(dl, 2, 5, (2, 5));
	}
}

.vertical-nav--show-top-nav {
	nav.topnav {
		display: block;
		@include gs-media(m, max) {
			display: none;
		}
	}
	#leftcol {
		margin-top: 5em;
		@include gs-media(m, max) {
			margin-top: 0;
		}
	}
}

.mobilenav {
	display: none;
	@include gs-media(m, max) {
		display: block;
		ul {
			&:nth-child(n+2) {
				padding-left: 1em;
			}
		}
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
	position: relative;
}