/* 
* Base name: Layout
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
	position: relative;
}

.sidebar {
	position: absolute;
	margin-top: 3em;
	left: 0;
	width: 19.8653%;
	@include gs-media(m, max) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		margin-top: 0;
	}
}

/* Main Content
-------------------------------------------------------------- */

.content {
	@include gs-span(dl, 2, 5);
	@include gs-media(t, max) {
		@include gs-span(t, 2, 3);
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.content--split {
	overflow: hidden;
	@include gs-media(t, min) {
		section {
			float: left;
			margin-left: 2%;
			margin-right: 2%;
			width: 47%;
			&:nth-child(odd) {
				margin-right: 1%;
			}
			&:nth-child(even) {
				margin-left: 1%;
			}
		}
	}
}

.content__main, .content__sidebar {
	@include guttering;
}

.content__main {
	@include gs-span(dl, 2, 3, (2, 5));
	@include gs-media(t, max) {
		@include gs-span(t, all, (2, 3));
		margin-bottom: 2em;
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

.content__sidebar {
	@include rem(font-size, $font-size-sm);
	@include gs-span(dl, 5, 5, (2, 5));
	@include gs-media(t, max) {
		@include gs-span(t, all, (2, 3));
	}

	@include gs-media(m, max) {
		@include gs-span(m, all);
	}
}

/* Block columns
-------------------------------------------------------------- */

.block {
	margin-bottom: 1em;
}

.block--col-1 {
	@include gs-span(dl, 1, 2);
	@include gs-media(t, max) {
		@include gs-span(t, 1);
	}

	@include gs-media(m, max) {
		@include gs-span(m, 1);
	}
}

.block--col-2 {
	@include gs-span(dl, 3);
	@include gs-media(t, max) {
		@include gs-span(t, 2);
	}

	@include gs-media(m, max) {
		@include gs-span(m, 2);
	}
}

.block--col-3 {
	@include gs-span(dl, 4, 5);
	@include gs-media(t, max) {
		@include gs-span(t, 3);
	}

	@include gs-media(m, max) {
		@include gs-span(m, 1);
		clear: left;
	}
}

/* Layout
-------------------------------------------------------------- */

.layout-horizontal {
	.sidebar {
		display: none;
		.nav--left {
			display: none;
		}
		@include gs-media(m, max) {
			display: block;
		}
	}
	.nav--top {
		display: block;
		@include gs-media(m, max) {
			display: none;
		}
	}
	.site-content__body {
		padding-top: 1em;
	}
	.content {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.layout-horizontal--nav-2col {
	.content__main {
		@include gs-span(dl, 1, 4, (1, 5));
	}
	.content__sidebar {
		@include gs-span(dl, 5, 5, (1, 5));
	}
	@include gs-media(t, max) {
		.content__main,.content__sidebar {
			@include gs-span(t, all, (1, 3));
			margin-bottom: 2em;
		}
	}
}

.layout-horizontal--nav-1col {
	.content__main {
		@include gs-span(dl, 1, 5, (1, 5));
	}
	.content__sidebar {
		display: none;
	}
}

.layout-vertical {
	@include gs-media(m, max) {
		.nav--left {
			display: none;
		}
	}
}

.layout-vertical--nav-1col {
	.content__main {
		@include gs-span(dl, 2, 5, (2, 5));
	}
}

.layout-vertical--nav-2col {
	.content__main {
		@include gs-span(dl, 1, 4, (1, 5));
	}
	.content__sidebar {
		@include gs-span(dl, 5, 5, (1, 5));
	}
	@include gs-media(t, max) {
		.content__main,.content__sidebar {
			@include gs-span(t, all, (1, 3));
			margin-bottom: 2em;
		}
	}
}

.layout-vertical--nav-show-top-nav {
	.nav--top {
		display: block;
		@include gs-media(m, max) {
			display: none;
		}
	}
	.sidebar {
		margin-top: 5em;
		@include gs-media(m, max) {
			margin-top: 0;
		}
	}
}