/* 
* Base name: Links
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

a {
	color: #034da1;
	text-decoration: none;
	&:hover {
		color: #034da1;
		text-decoration: underline;
	}
}