/* Tables
-------------------------------------------------------------- */

table {
	display: table;
	table-layout: auto;
	width: 100%;
	border: 1px solid #e6e6e6;
	border-collapse: collapse;
	clear: left;
	float: left;
	border-spacing: 0;
	margin: 1.5em 0;
	font-size: 0.8em;
}

thead, tbody, tfoot {
	display: table-row-group;
}

thead {
	display: table-header-group;
}

tbody {
	display: table-row-group;
}

tfoot {
	display: table-footer-group;
}

tr {
	display: table-row;
}

th, td {
	display: table-cell;
	text-align: left;
	width: auto;
	border-bottom: 1px solid #ddd;
	border-top: none;
	vertical-align: middle;
	border-bottom: 1px solid #EEEEEE;
	padding: 0.25em 1em 0.25em 0;
}

th {
	border-right: 1px solid #ddd;
	border-bottom-color: #ccc;
	color: #333333;
	font-weight: 700;
	background-color: #eee;
}

th,td,caption {
	padding: 4px 10px 4px 5px;
}

tr.even td {
	background: #e5ecf9;
}

tfoot {
	font-style: italic;
}

caption {
	caption-side: bottom;
	color: #666666;
	font-size: 0.875em;
	line-height: 1.4286;
	padding: 0.8571em 0 0.2857em;
	text-align: left;
}

td, td img {
	vertical-align: top;
}

/* Responsive Tables
-------------------------------------------------------------- */

.rt {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.rt th, .rt td {
	margin: 0;
	vertical-align: top;
	border: 1px solid #e6e6e6;
}

.rt th {
	text-align: left;
}

@media only screen and (max-width: 989px) {
	#rt1 {
		display: block;
		position: relative;
		width: 100%;
		border-top: 0;
	}
	#rt1 thead {
		display: block;
		float: left;
	}
	#rt1 tbody {
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}
	#rt1 thead tr {
		display: block;
	}
	#rt1 th {
		display: block;
	}
	#rt1 tbody tr {
		display: inline-block;
		vertical-align: top;
	}
	#rt1 td {
		display: block;
		min-height: 1.25em;
	}
	/* sort out borders */
	.rt th {
		border-bottom: 0;
	}
	.rt td {
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}
	.rt tbody tr {
		border-right: 1px solid #eee;
	}
}