/* 
* Base name: Typography
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

body {
	font-family: $font-san-serif;
	color: #333333;
	font-size: 16px;
	font-size: 1.6rem;
	background-color: #d9d9d1;
	overflow-x: hidden;
	line-height: 1.7;
	hyphens: auto;
	-ms-hyphens: none;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}

/* Headings
-------------------------------------------------------------- */

hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre, img, .page-head, .media, .island, .islet, .pill, .responsive-container {
	margin-bottom: 1.5em;
	line-height: 1.5; 
}

h1, h2, h3, h4, h5, h6 { 
	margin-top: 0;
	margin-bottom: .5em;
	font-family: $font-san-serif;
}

h1, .as-h1, %as-h1 {
	font-size: 2.5em;
	font-weight: 300;
    // @include respond-max($bp__mobile--max) {
    //     font-size: 1.75em;
    // }
}


h2, .as-h2, %as-h2 {    
	font-size: 2em; 
	font-weight: 300;
    // @include respond-max($bp__mobile--max) {
    //     font-size: 1.5em;
    // }
}


h3, .as-h3, %as-h3 { 
	font-size: 1.5em;
	font-weight: 300;
    // @include respond-max($bp__mobile--max) {
    //     font-size: 1.4em;
    // }
}

h4, .as-h4, %as-h4 {
	font-size: 1.2em;
	text-transform: none;
	letter-spacing: 0;
	// @include respond-max($bp__mobile--max) {
	//     font-size: 1em;
	// }
}

h5, .as-h5, %as-h5 {
	font-style: normal;
	font-size: .8em;
	text-transform: uppercase;
	font-weight: bold;
}

h6, .as-h6, %as-h6 {
	color: #999;
	margin: 1em 0 0;
}

h3 + ul, h3 + ol, h3 + dl {
	margin-top: 0.5em;
}

// Small heading segments

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 80%;
	color: #6f6f6f;
	line-height: 0;
}

.box h2 {
	margin-top: 0;
}

.content__sidebar h1 {
	font-size: 26px;
}

/* Quotes
-------------------------------------------------------------- */

blockquote {
	margin: 1.5em;
	color: #666;
	font-style: italic;
	overflow: hidden;
}

.quote-left {
	@include gs-span(dc, 1, 2);
	@include gs-float(dc, left);
}

.quote-right {
	@include gs-span(dc, 3, 4);
	@include gs-float(dc, right);
}

@include gs-media(m, max) {
	.quote-left, .quote-right {
		@include gs-span(m, all);
	}
}


[class*=pullquote] {
	margin-top: 2em;
	margin-bottom: 2em;
}

[class*=pullquote] q.quote {
	line-height: 1.5em;
	font-size: 20px;
	font-family: $font-serif;
	font-style: italic;
	color: rgba(0, 0, 0, 0.7);
}

.pullquote .meta, .quote-meta {
	border-top: 1px dotted;
	padding-top: 1em;
	border-color: rgba(0, 0, 0, 0.2);
	float: left;
	font-size: 12px;
	margin-top: 1em;
	width: 100%;
}

// Emphasis & misc
// -------------------------

small,
.small {
    font-size: 0.9em;
}

strong,
.strong {
    font-weight: 500;
}

cite, .cite, em, dfn { 
    font-style: italic;
}


.bqstart {
	color: #c2c2ba;
	float: left;
	font-size: 400%;
	height: 45px;
	margin-bottom: -42px;
	margin-top: 0;
	padding-top: 22px;
	padding-right: 10px;
	font-style: normal;
}

.bqend {
	color: #c2c2ba;
	float: right;
	font-size: 400%;
	height: 25px;
	margin-top: 0;
	padding-top: 60px;
	padding-left: 10px;
	font-style: normal;
}

/* Inline styles
-------------------------------------------------------------- */

.text-muted {
	color: #999999;
}

.text-success {
	color: #468847;
}

.text-error {
	color: #b94a48;
}

.mod {
	font-size: 12px;
	color: #ccc;
	margin-top: 2em;
	.lastMod {
		text-transform: capitalize;
	}
}

ins {
	background-color: #F0F0F0;
	color: #000;
	text-decoration: none;
	padding: 0 0.125em;
}

mark {
	padding: 0 0.125em;
}

del {
	color: #666;
}

.standfirst {
	font-size: 20px;
	@include gs-media(m, max) {
		font-size: 18px;
	}
}


/* Lists
-------------------------------------------------------------- */

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled, %list-unstyled {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	> li:before {
		content: none;
	}
}

// Inline turns list items into inline-block
.list-inline, %list-inline {
	@extend %list-unstyled;
	display: inline;
	> li {
		display: inline-block;
		vertical-align: middle;
		padding-right: 5px;
		&:after {
			content: "|";
			margin-left: 2.5px;
		}
		&:last-child {
			&:after {
				content: "";
				display: none;
			}
		}
	}
}

article ul {
	li {
		list-style: none;
		position: relative;
		margin-bottom: 1em;
		@include gs-media(m, max) {
			margin-left: 1em;
		}
		&:before {
			content: "";
			display: block;
			background-color: #333;
			border-radius: 50%;
			height: 0.35em;
			width: 0.35em;
			position: absolute;
			left: -0.8em;
			top: 0.6em;
		}
	}
}


article ul li ul {
	margin-top: 1em;
}

article ul li li {
	margin-left: 1em;
}

.tabbed > div ul li, .box ul li {
	margin-left: 1em;
}

/* Inline lists
-------------------------------------------------------------- */

.site-content__body article .horizontal {
	li {
		display: inline;
		margin-right: 0.5em;
	}
	li:before {
		display: none;
	}
	lh {
		float: left;
	}
	dt, dd {
		float: left;
		margin: 0 0.5em 0 0;
	}
	lh + dt, dd + dt, dd + dd {
		clear: left;
	}
	dd + dd {
		float: none;
	}
	dt {
		font-weight: bold;
	}
}

/* Unstyled lists
-------------------------------------------------------------- */

.site-content__body article .nostyle {
	li:before {
		display: none;
	}
}

/* Ordered lists
-------------------------------------------------------------- */

ol li {
	list-style-type: decimal;
	margin-bottom: 1em;
	@include gs-media(m, max) {
		margin-left: 1.5em;
	}
}

ol li ol {
	margin-top: 1em;
}

ol li li {
	margin-left: 1.5em;
}

/* Definition lists
-------------------------------------------------------------- */

dt {
	font-weight: 700;
}

dd + dt {
	margin-top: 10px;
}

/* Code lists (blocked)
-------------------------------------------------------------- */

.code {
	font: 400 1em / 1.5 $font-line-numbers;
	margin: 1em 0 1.5em 2.5em;
	li {
		background: none repeat scroll 0 0 #F6F6F6;
		border-top: 1px solid #FFFFFF;
		list-style: decimal-leading-zero outside none;
		padding: 0 0.5em;
		.tab1 {
			padding-left: 4ex;
		}
	}
}