/* Accordion
-------------------------------------------------------------- */

.accordion {
   margin-top: 1em;
   margin-bottom: 1em;
   dt, dd {
      padding: 10px;
      border-top: 1px solid #ccc;
      margin-top:0;
      &:last-of-type {
        border-bottom: 1px solid #ccc;
      }
      a {
        display: block;
        color: black;
        font-weight: bold;
      }
   }
  dd {
     border-top: 0;
     overflow: hidden;
     &:last-of-type {
       border-top: 1px solid #fff;
       position: relative;
       top: -1px;
     }
  }
}