/* 
* Partial name: Article
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

article {
	margin-bottom: 1em;
}

article p + p, article div + p, article p + div, article p + ul, article p + ol, article p + dl, article p + figure {
	margin-top: 1em;
}

article p + .tabbed {
	margin-top: 2em;
}

.flag, .more {
	padding: 5px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	background-color: #B5BD00;
}

.flag:hover {
	color: #fff;
	background: #8f993e;
	text-decoration: none;
}

.meta, .blurb .meta {
	font-size: 1.2rem;
	font-size: 12px;
	color: #999;
	margin-bottom: 0.5em;
}

.meta.photo {
	position: absolute;
	left: 0;
	top: 3px;
}

.event-date {
	font-size: 13px;
	font-weight: bold;
}