/* Articles
-------------------------------------------------------------- */

article {
  margin-bottom: 1em;
}

article p + p, article div + p, article p + div, article p + ul, article p + ol, article p + dl, article p + figure {
  margin-top: 1em;
}

article p + .tabbed {
  margin-top: 2em;
}

[class*=blurb] {
  position: relative;
  padding-bottom: 1em;
  overflow: hidden;

  h2 {
    font-size: 16px;
    margin-top: 0;
    font-weight: 700;
  }

  img {
    margin-bottom: 0.5em;
  }
}

[class*=blurb-wide] img {
  @include gs-span(dc, 1);
}

@include gs-media(m, max) {
  [class*=blurb-wide] img {
    @include gs-span(m, all);
  }
}

[class*=blurb-wide] div {
  @include gs-span(dc, 2, 4);
  top: -4px;
  position: relative;
}

@include gs-media(m, max) {
  [class*=blurb-wide] div {
    @include gs-span(m, all);
  }
}

.flag, .more {
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  background-color: #B5BD00;
}

.flag:hover {
  color: #fff;
  background: #8f993e;
  text-decoration: none;
}

.meta, .blurb .meta {
  font-size: 1.2rem;
  font-size: 12px;
  color: #999;
  margin-bottom: 0.5em;
}

.meta.photo {
  position:absolute;
  left: 0;
  top: 3px;
}

.event-date {
  font-size: 13px;
  font-weight: bold;
}


// specific for news version of blurb


.blurb date,
.blurb-wide date {
  display: block;
  font-size: .8em;
  margin-bottom: .3em;
}

.news-content {
  padding: 1em 4%;
  @media (min-width: 640px) {
    padding: 1em 0 0;
    display: table;
    .blurb {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: table-cell;
      padding: 0 1.5%;
    }
  }
}
