/* 
* Partial name: Branding
* Use: 
* Note:
* Author: 
-------------------------------------------------------------- */

.brand {
	position: absolute;
	z-index: 1;
	overflow: visible;
	width: 100%;
	max-width: 1470px;
	left: 0;
}

.brand__heading {
	position: absolute;
	left: 35px;
	top: 25%;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: bold;
}

.brand__logo {
	display: block;
	margin-bottom: 0;
}