#carouselContainer {
	position: relative;
	.prev,.next {
		position: absolute;
		top: 40%;
		width: 30px;
		height: 30px;
		background-repeat: none;
		cursor: pointer;
		text-indent: -9999px;
		white-space: nowrap;
	}
	.prev {
		left: 0;
		background: url(#{$staticUrl}/images/arrow-left.png);
	}
	.next {
		right: 0;
		background: url(#{$staticUrl}/images/arrow-right.png);
	}
}

/* this is a test so delete this after
----------------------------------------------------------------------------*/
.roundButton {
	border-radius: 5px;
	padding: 0.5em;
	color: white;
	margin-bottom: 1em;
	background: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.8);
}