/* UCL Colours
-------------------------------------------------------------- */

/* Standard
-------------------------------------------------------------- */

$darkgreen: rgba(85,80,37,1);
$midgreen: rgba(143,153,62,1);
$brightgreen: rgba(181,189,0,1);
$lightgreen: rgba(187,197,146,1);
$yellow: rgba(246,190,0,1);
$darkred: rgba(101,29,50,1);
$midred: rgba(147,39,44,1);
$brightred: rgba(213,0,0,1);
$lightred: rgba(224,60,49,1);
$orange: rgba(234,118,0,1);
$darkpurple: rgba(75,56,76,1);
$midpurple: rgba(80,7,120,1);
$brightpink: rgba(172,20,90,1);
$lightpurple: rgba(198,176,188,1);
$warmgrey: rgba(140,130,121,1);
$darkblue: rgba(0,61,76,1);
$midblue: rgba(0,40,85,1);
$brightblue: rgba(0,151,169,1);
$lightblue: rgba(141,185,202,1);
$stone: rgba(214,210,196,1);
$darkbrown: rgba(78,54,41,1);


/* Colour Variant - for gradients
-------------------------------------------------------------- */

$darkgreen-b: rgba(77,72,32,1);
$midgreen-b: rgba(156,163,95,1);
$brightgreen-b: rgba(201,209,15,1);
$lightgreen-b: rgba(201,211,161,1);
$yellow-b: rgba(255,208,48,1);
$darkred-b: rgba(121,47,68,1);
$midred-b: rgba(163,56,61,1);
$brightred-b: rgba(226,17,17,1);
$lightred-b: rgba(236,98,88,1);
$orange-b: rgba(255,145,32,1);
$darkpurple-b: rgba(84,62,85,1);
$midpurple-b: rgba(100,19,145,1);
$brightpink-b: rgba(192,29,104,1);
$lightpurple-b: rgba(219,192,207,1);
$warmgrey-b: rgba(156,145,136,1);
$darkblue-b: rgba(7,68,83,1);
$midblue-b: rgba(15,66,122,1);
$brightblue-b: rgba(12,173,192,1);
$lightblue-b: rgba(165,205,221,1);
$stone-b: rgba(224,221,209,1);
$darkbrown-b: rgba(95,68,54,1);


/* Gradient styles
-------------------------------------------------------------- */

@mixin gradient($from, $to) {

	background: $to;
	background: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
	background: -webkit-linear-gradient($from 0%, $to 100%);
	background: -moz-linear-gradient($from 0%, $to 100%);
	background: -o-linear-gradient($from 0%, $to 100%);
	background: linear-gradient($from 0%, $to 100%);
	
}