/* Images
-------------------------------------------------------------- */

figcaption {
	color: #666666;
	font-size: 0.9em;
}

figcaption h4 {
	margin-top: 0.2em;
}

figure img {
	padding-top: 0.5em;
}

figure + figure, figure + p {
	margin-top: 1em;
}



/* Floated Images
-------------------------------------------------------------- */

img.float-left {
	@include gs-span(dc, 1, 2);
	@include gs-float(dc, left);
	margin-bottom: 1em;
}

img.float-right {
	@include gs-span(dc, 3, 4);
	@include gs-float(dc, right);
	margin-bottom: 1em;
}


/* Tables
-------------------------------------------------------------- */

table {
	display: table;
	table-layout: auto;
	width: 100%;
	border: 1px solid #e6e6e6;
	border-collapse: collapse;
	clear: left;
	float: left;
	border-spacing: 0; 
	margin: 1.5em 0; 
	font-size: 0.8em;
}

thead, tbody, tfoot {
	display: table-row-group;
	width: 100%;
}

thead {
	display: table-header-group;
}

tbody {
	display: table-row-group;
}

tfoot {
	display: table-footer-group;
}

tr {
	display: table-row;
	width: 100%;
}

th, td {
	display: table-cell;
	text-align: left;
	width: auto;
	border-bottom: 1px solid #ddd;
	border-top: none;
	vertical-align: middle;
	border-bottom: 1px solid #EEEEEE; 
	padding: 0.25em 1em 0.25em 0; 
}

th { 
	border-right: 1px solid #ddd; 
	border-bottom-color: #CCCCCC; 
	color: #333333; 
	font-weight: 700; 
}

th,td,caption { 
	padding: 4px 10px 4px 5px; 
}
tr.even td  { 
	background: #e5ecf9; 
}
tfoot { 
	font-style: italic; 
}

caption { 
	caption-side: bottom; 
	color: #666666; 
	font-size: 0.875em; 
	line-height: 1.4286;
	padding: 0.8571em 0 0.2857em; 
	text-align: left; 
}

td, td img { 
	vertical-align: top; 
}




/* Articles
-------------------------------------------------------------- */

article {
	margin-bottom: 1em;
}

article p + p, article div + p, article p + div, article p + ul, article p + ol, article p + dl, article p + figure {
	margin-top: 1em;
}

article p + .tabbed {
	margin-top: 2em;
}

[class*=blurb] {
	position: relative;
	padding-bottom: 1em;
	overflow: hidden;
	
	h2 {
		font-size: 16px;
		margin-top: 0;
		font-family: 'HelveticaNeueLTStd-Bd';
	}
	
	img {
		margin-bottom: 0.5em;
	}
}

[class*=blurb-wide] img {
	@include gs-span(dc, 1);
}

@include gs-media(m, max) {
  [class*=blurb-wide] img {  
    @include gs-span(m, all);
  }
}

[class*=blurb-wide] div {
	@include gs-span(dc, 2, 4);
	top: -4px;
	position: relative;
}

@include gs-media(m, max) {
  [class*=blurb-wide] div {  
    @include gs-span(m, all);
  }
}

.flag, .more {
	padding: 5px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	background-color: #B5BD00;
}

.flag:hover {
	color: #fff;
	background: #8f993e;
	text-decoration: none;
}

.meta, .blurb .meta {
	font-size: 1.2rem;
	font-size: 12px;
	color: #999;
	margin-bottom: 0.5em;
}

.meta.photo {
	position:absolute;
	left: 0;
	top: 3px;
}

.event-date {
	font-size: 13px;
	font-weight: bold;
}


/* Links
-------------------------------------------------------------- */

a {
	color: #034da1;
	text-decoration: none;
}

a:hover {
	color: #034da1;
	text-decoration: underline;
}

p a {
	text-decoration: underline;
}

p a:hover {
	text-decoration: none;
}


/* Code
-------------------------------------------------------------- */

pre { 
	margin: 1.5em 0; 
	white-space: pre;
}

pre,code,tt { 
	font: 1em 'consolas', 'andale mono', 'lucida console', monospace; 
}


/* Divider
-------------------------------------------------------------- */

[class*=divider] {
	border-color: #ddd;
}

[class*=divider][class*=top] {
	margin-top: 21px;
	padding-top: 21px;
	border-top-width: 1px;
	border-top-style: solid;
}

[class*=divider][class*=bottom] {
	margin-bottom: 21px;
	padding-bottom: 21px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


/* Box/Container
-------------------------------------------------------------- */

.box {
	border-top:5px solid #000;
	background: #fafafa;
	overflow: hidden;
	padding-top: 0.5em;
	padding-bottom: 1em;
	@include gs-pad(dc, padinfull);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position:relative;
}

.box.tagged {
	padding-top:1.5em;
}

.tag {
	position:absolute;
	left: 0;
	top: 0;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	background-color: #B5BD00;
}
    
    

/* Wrapper
-------------------------------------------------------------- */

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
    position: relative;
}


/* Map
-------------------------------------------------------------- */

.map {
	margin-top:1em;
}



/* Tabs
-------------------------------------------------------------- */

.tabs {
	margin-bottom: 0;
}

.tabs li {
	list-style: none;
	 margin: 0;
	 padding: 0;
	 display: inline;
	 float: left;
	 background-color: #444;
	 line-height:normal;
	 margin-bottom: 0;
	 padding: 10px 15px;
	 margin-right: 5px;
	 border-bottom: 5px solid #fff;
}

.tabs li a {
	font-size: 14px;
	font-family: 'HelveticaNeueLTStd-Bd';
	color: #fff;
}

.tabs li a:hover {
	text-decoration: none;
}

.tabs li.active {
	border-bottom: 5px solid #444;
}

.tabs li:before {
	display: none;	
}

.tabs li a {
  display: block;
}

.tabbed > div {
	border: 10px solid #444;
	@include gs-pad(dc, padinfull);
	padding-top: 10px;
	padding-bottom: 2em;
}


/* Accordion
-------------------------------------------------------------- */

.accordion {
   margin-top: 1em;
   margin-bottom: 1em;   
   dt, dd {
      padding: 10px;
      border-top: 1px solid #ccc; 
      margin-top:0;
      &:last-of-type {
        border-bottom: 1px solid #ccc; 
      }
      a {
        display: block;
        color: black;
        font-weight: bold;
      }
   }
  dd {
     border-top: 0; 
     font-size: 12px;
     &:last-of-type {
       border-top: 1px solid #fff;
       position: relative;
       top: -1px;
     }
  }
}


/* Slideshow
-------------------------------------------------------------- */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 1em 0;
  margin-bottom: 2em;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides li:before {
	display: none;	
}


/* Responsive video
-------------------------------------------------------------- */

.responsive-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
}

.responsive-container iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


/* Audio
-------------------------------------------------------------- */

audio {
	width: 100%;
}

/* vCard
-------------------------------------------------------------- */

.vcard {
  display: inline-block;
  margin-bottom: 1em;
  width: 100%;
  }
.vcard li {
    margin-bottom: 0.5em;
    display: block; 
}
.vcard .fn {
    font-weight: bold;
    font-size: 0.9375em; 
}

/* Social
-------------------------------------------------------------- */

.addthis_toolbox {
	margin-bottom: 2em;
}

