// This needs to be moved at some point to relevant partials (SR)
/* Longform content
-------------------------------------------------------------- */

@media screen and (max-width: 766px) {
	.accordion-header {
		cursor: pointer;
		border-bottom: 1px solid #ccc;
		padding-bottom: 8px;
	}
	.active-header {
		background: url(#{$staticUrl}/images/close.png);
		background-repeat: no-repeat;
		background-position: right 50%;
		padding-right: 20px;
		border-bottom: none;
	}
	.active-header:hover {
		background: url(#{$staticUrl}/images/close.png);
		background-repeat: no-repeat;
		background-position: right 50%;
	}
	.inactive-header {
		background: url(#{$staticUrl}/images/open.png);
		background-repeat: no-repeat;
		background-position: right 50%;
		padding-right: 20px;
	}
	.inactive-header:hover {
		background: url(#{$staticUrl}/images/open.png);
		background-repeat: no-repeat;
		background-position: right 50%;
	}
	.accordion-content {
		display: none;
		border-top: 0;
	}
}

@media screen and (min-width: 768px) {
	/* ensure accordion nav is hidden and content is visible on desktop version */
	.accordion-header {}
	.accordion-content {
		display: block !important;
	}
}