// This needs to be moved at some point to relevant partials (SR)
/* Longform content
-------------------------------------------------------------- */

@media screen and (max-width: 766px) {
	.active-header {
		background: url(#{$staticUrl}/images/close.png);
		background-repeat: no-repeat;
		background-position: right 50%;
		padding-right: 20px;
		border-bottom: none;
	}
	.active-header:hover {
		background: url(#{$staticUrl}/images/close.png);
		background-repeat: no-repeat;
		background-position: right 50%;
	}
	.inactive-header {
		background: url(#{$staticUrl}/images/open.png);
		background-repeat: no-repeat;
		background-position: right 50%;
		padding-right: 20px;
	}
	.inactive-header:hover {
		background: url(#{$staticUrl}/images/open.png);
		background-repeat: no-repeat;
		background-position: right 50%;
	}
}