/* Global Masthead
-------------------------------------------------------------- */

#global-masthead {
	background-color: #444;
	font-size: 12px;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
	}
	ul {
		font-size: 16px;
		margin-top: 8px;
	}
	@media screen and (max-width: 940px) {
		ul {
			font-size: 12px;
			font-size: 1.2rem;
			margin-top: 12px;
			margin-top: 1.2rem;
		}
	}
}

#search {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #666;
	padding-left: 0;
}

#global-masthead {
	height: 45px;
	li {
		display: inline;
		margin-right: 1em;
	}
	img {
		width: auto;
	}
}

/* Global Search
-------------------------------------------------------------- */

/* 01/10/2013: replacement CSS for rebuilt search form in masthead.*/

#global-search {
	position: relative;
	padding: 6px 0 3px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	width: 42%;
	input, label {
		width: auto;
	}
	label {
		margin-top: 9px;
	}
	.search {
		position: absolute;
		top: 0;
		left: 88%;
		width: 12%;
		line-height: 1;
		margin: 5px 0 0 0;
		padding: 0.75em;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: #4693ea;
		font-size: 12px;
		font-size: 1.2rem;
	}
	.search:hover {
		background: #034da1;
		border-color: #034da1;
	}
	.search-type {
		width: 40%;
		margin-bottom: 0;
		padding: 0 20px 0 0;
		margin: 0;
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		text-align: right;
	}
	@include gs-media(m, max) {
		.search {
			left: 80%;
			width: 20%;
		}
	}
}

#searchform {
	//background: url("../img/search.png") no-repeat scroll 95% center;
	padding: 0;
	background-color: #fff;
	margin-top: 7px;
	margin-bottom: 7px;
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	input {
		margin-right: 0;
		padding-left: 10px;
		width: 85%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	@include gs-media(m, max) {
		width: 75%;
	}
}

#audiences {
	float: left;
	width: 55%;
}