/* UCL Banner
-------------------------------------------------------------- */

#ucl-masthead {
	display: block;
	width:100%;
	overflow:hidden;
}

#branding {
   position:absolute;
   z-index:1;
   overflow: visible;
   padding: 0 35px;
   left: -35px;
   width: 100%;
   max-width: 1470px;
   p{
   		position: absolute;
		left: 70px;
		top: 25%;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		font-family: Arial, sans-serif;
		padding-top: 0.5em;
   }
	img {
		display: block;
	}

}

header > div {
	position: relative;
}


.photograph {
	padding: 0 35px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	left: -35px;
} 



/* Site Branding Structure
-------------------------------------------------------------- */

#nav-wrap {
	position: relative;
	z-index: 100;
}

#site-content {
	position: relative;
	z-index: 1;
}

.site-brand {
	padding-top: 12%;
}

.photograph-description {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 5%;
	right: 35px;
	padding: 10px;
	font-size: 12px;
	font-style: italic;
	color: #fff;
	display:none;
}

.photograph-on {

	.site-brand {
		padding-top: 30%;	
	}
	
	.photograph-description {
		display:block;
	}
	
}

/* Left Column + Navigation
-------------------------------------------------------------- */

#leftcol {
	position: absolute;
	margin-top: 3em;
	left: 0;
	width: 19.8653%;
}
.leftnav li {
	margin-bottom: 0.5em;
	ul {
		margin: 10px 5%;
		font-size:14px;
	}
}
#nav-mobile-back, #header-mobile {
	display: none;
}

@include gs-media(m, max) {

	#nav-wrap {
		background-color: #444;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: auto;
		overflow-x: hidden;
		left: -100%;
		a {
			color: #fff;
			padding: 1em 0;
			display: block;
			clear: both;
			font-size: 14px;
			font-size: 1.4rem;
		}
		ul {
			margin: 0;
		}
		li {
			margin-bottom: 0;
			display: block;
		}
		#leftcol {
			width: 100%;
		}
		#logo, 
		.site-brand {
			display: none;
		}
		#global-masthead {
			height: auto;
			margin-bottom: 1em;
		}
		#global-search {
			float: none;
			width: 100%;
			padding: 0;
			margin-top: 3.5em; 
			height: 4em;
		}
		#branding h1 {
			background-color: #222;
			padding: 0.5em 35px;
			position: relative;
			left: 0;
			width: 100%;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		#nav-mobile-back {
			display: block;
			position: absolute;
			left: 5%;
			top: 5px;
			padding: 0;
			z-index: 1000;
			width: 50%;
			img {
				vertical-align: middle;
				display: inline-block;
				width: 30px;
				position: relative;
				margin: -5px -3px 0 -8px;
			}
		}
	}
	
	.mobile-open #nav-wrap {
		left: 0;
	}
	
	#header-mobile {
		display: block;
		width: 100%;
		padding: 20% 35px 0;
		background-size: auto 100%;
		background-position: 106% bottom;
		background-image: url('#{$staticUrl}/images/ucl-logo.svg');
		background-repeat: repeat-x;
		position: relative;
		left: -35px;
		background-color: #fff;
		h1 {
			position: absolute;
			font-size: 12px;
			top: 1em;
			left: 1em;
		}
		#nav-mobile-menu {
			width: 20px;
			top: 35%;
			left: 35px;
			position: absolute;
			z-index: 1000;
		}
		&.no-svg{
			background-image: url('#{$staticUrl}/images/ucl-logo-cropped-white.png');
			background-repeat: no-repeat;
			background-position: right bottom;
			background-color: #000;
			background-size: 90%;
		}
	}
}


/* Main Content
-------------------------------------------------------------- */

#main {
	background-color: $content-bg-color;
	padding: 2em 35px 2em 35px;
	left: -35px;
	position: relative;
	@include gs-span(dl, all);
}

@include gs-media(t, max) {
  #main {  
    @include gs-span(t, all);
  }
}

@include gs-media(m, max) {
  #main {  
    @include gs-span(m, all);
    padding-top: 1em;
  }
}

#content {
	@include gs-span(dl, 2, 5);
}

@include gs-media(t, max) {
  #content {  
    @include gs-span(t, 2, 3);
  }
}

@include gs-media(m, max) {
  #content {  
    @include gs-span(m, all);
  }
}


.content-main {
	@include gs-span(dl, 2, 3, (2, 5));
}

@include gs-media(t, max) {
  .content-main {  
    @include gs-span(t, all, (2, 3));
    margin-bottom: 2em;
  }
}

@include gs-media(m, max) {
  .content-main {  
    @include gs-span(m, all);
  }
}


.content-sidebar {
	@include gs-span(dl, 5, 5, (2, 5));
}

@include gs-media(t, max) {
  .content-sidebar {  
    @include gs-span(t, all, (2, 3));
  }
}

@include gs-media(m, max) {
  .content-sidebar {  
    @include gs-span(m, all);
  }
}
.middle-split {
	@include gs-media(t, min) {
	    section {
	      float: left;
	      margin-left: 2%;
	      margin-right: 2%;
	      width: 47%;
	      &:nth-child(odd) {
	        margin-right: 1%;
	      }      
	      &:nth-child(even) {
	        margin-left: 1%;
	      }
	    }
	}
}

/* Footer
-------------------------------------------------------------- */

footer {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	padding: 40px 35px;
	color: #bbb;
	clear: left;


	h2 {
		margin-bottom: 0.5em;
		font-size:1em;
	}
	
	a {
		color: #eee;
		text-decoration: none;
	}
	
	a:hover {
		color: #fff;
	}
	
	
	article {
		margin-bottom: 1em;
		
		ul {
			list-style-type: none;
			margin-bottom: 1em;

			li {
				padding-bottom: 4px;
				padding-top: 4px;
				font-size: 14px;
				margin-bottom: 0;
			}
			
			li:before {
			  content: none; 
			}
		}
	}
	
	hr {
		border-color: #ccc;
		clear:both;
	}

}
@include gs-media(m, max) {
	footer {
			padding-left: 5%;
			padding-right: 5%;
		}
}

#footer-links {
	font-size: 14px;
	margin-top: 0.5em;
}

@media screen and (max-width: 989px) {

	footer article li {
		padding-bottom: 2px;
		padding-top: 2px;
		font-size: 12px;
		margin-left: 0;
	}
	
	#footer-links {
		font-size: 12px;
	}

}

.block-myucl {
	@include gs-span(dl, 1, 2);
}
@include gs-media(t, max) {
	.block-myucl {
		@include gs-span(t, 1);
	}
}
@include gs-media(m, max) {
	.block-myucl {
		@include gs-span(m, 1);
	}
}

.block-finditfast1 {
	@include gs-span(dl, 3);
}
@include gs-media(t, max) {
	.block-finditfast1 {
		@include gs-span(t, 2);
	}
}
@include gs-media(m, max) {
	.block-finditfast1 {
		@include gs-span(m, 2);
	}
}

.block-finditfast2 {
	@include gs-span(dl, 4, 5);
}
@include gs-media(t, max) {
	.block-finditfast2 {
		@include gs-span(t, 3);
	}
}
@include gs-media(m, max) {
	.block-finditfast2 {
		@include gs-span(m, 1);
		clear: left;
	}
}
@mixin nav-in-document-flow{
	position: relative;
	left: -35px;
	padding: 0 35px;

}
/* horizontal navigation layouts
----------------------------------------------------------------------------------*/
nav.topnav{
	display: none;
	@include nav-in-document-flow;
	width: 100%;
	background-color: $content-bg-color;
	margin-top: 0;
	padding-top: 1em;
	overflow: hidden;
	ul{
		li{
			display: block;
			float: left;
			padding-right: 1em;
			margin-right: 1em;
			border-right: 1px solid $ruleColor;
			a{
				text-decoration: none;
				cursor: pointer;
				color: $horizontalNavColor;
			}
			&:last-child{
				border-right: 0;
			}
		}
	}
}
.horizontal-nav{
	#leftcol{
		display: none;
		.leftnav{
			display: none;
		}
		@include gs-media(m, max){
			display: block;
		}
	}
	.topnav{
		display: block;
		@include gs-media(m, max){
			display: none;
		}
	}
	#main{
		padding-top: 1em;
	}
	#content{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.horizontal-nav--2col{
	.content-main{
		@include gs-span(dl, 1, 4, (1, 5));
	}
	.content-sidebar{
		@include gs-span(dl, 5, 5, (1, 5));
	}
	@include gs-media(t, max) {
		.content-main,.content-sidebar{  
			@include gs-span(t, all, (1, 3));
			margin-bottom: 2em;
		}
	}
}
.horizontal-nav--1col{
	.content-main{
		@include gs-span(dl, 1, 5, (1, 5));
	}
	.content-sidebar{
		display: none;
	}
}
.vertical-nav{
	@include gs-media(m, max){
		.leftnav{
			display: none;
		}
	}
}
.vertical-nav--1col{
	.content-main{
		@include gs-span(dl, 2, 5, (2, 5));
	}
}
.vertical-nav--show-top-nav{
	nav.topnav{
		display: block;
		@include gs-media(m, max){
			display: none;
		}
	}
	#leftcol{
		margin-top: 5em;
	}
}
.mobilenav{
	display: none;
	@include gs-media(m, max){
		display: block;
		ul{
			&:nth-child(n+2){
				padding-left: 1em;
			}
		}
	}
}