/* Links
-------------------------------------------------------------- */

a {
  color: #034da1;
  text-decoration: none;
}

a:hover {
  color: #034da1;
  text-decoration: underline;
}

p a {
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
