/* 
* Partial name: Masthead
* Use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.masthead {
	background-color: #444;
	font-size: 12px;
	color: #fff;
	height: 45px;

	img {
		width: auto;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	@include gs-media(m, max) {
		height: auto;
		border-bottom: 1px solid #ccc;
		.wrapper {
			background-color: #444;
		}
	}
}

.masthead__search {
	position: relative;
	padding: 6px 0 3px 0;
	box-sizing: border-box;
	float: right;
	width: 42%;
	@include gs-media(m, max) {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 3.5em;
		height: 4em;
		margin-left: auto;
		margin-right: auto;
	}

	label {
		margin-top: 9px;
	}

	.search-type {
		width: 40%;
		margin-bottom: 0;
		padding: 0 20px 0 0;
		margin: 0;
		float: left;
		box-sizing: border-box;
		text-align: right;
	}
}

.masthead__list {
	float: left;
	width: 55%;
	font-size: 16px;
	display: block;
	@include gs-media(m, max) {
			width: 90%;
	margin-left: auto;
	margin-right: auto;
		float: none;
		margin-bottom: 1em;
	}
	@media screen and (max-width: 940px) {
		font-size: 12px;
		font-size: 1.2rem;
		.lt-ie9 & {
			margin-top: 12px;
		}
	}
}

.masthead__item {
	padding-right: 1em;
	height: 45px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	.lt-ie9 & {
		display: block;
		margin-top: 8px;
	}
	@include gs-media(m, max) {
		display: block;
		text-align: left;
	}
}