.nav {}

.nav--left li {
	margin-bottom: 0.5em;
	ul {
		margin: 10px 5%;
		font-size: 14px;
	}
}

nav.nav--top {
	display: none;
	@include navInDocumentFlow;
	width: 100%;
	background-color: $content-bg-color;
	margin-top: 0;
	padding-top: 1em;
	overflow: hidden;
	ul {
		li {
			display: block;
			float: left;
			padding-right: 1em;
			margin-right: 1em;
			border-right: 1px solid $ruleColor;
			a {
				text-decoration: none;
				cursor: pointer;
				color: $navHorizontalColor;
			}
			&:last-child {
				border-right: 0;
			}
		}
	}
}

.nav--horizontal {
	#leftcol {
		display: none;
		.nav--left {
			display: none;
		}
		@include gs-media(m, max) {
			display: block;
		}
	}
	.nav--top {
		display: block;
		@include gs-media(m, max) {
			display: none;
		}
	}
	.site-content__body {
		padding-top: 1em;
	}
	#content {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.nav--horizontal-2col {
	.content__main {
		@include gs-span(dl, 1, 4, (1, 5));
	}
	.content__sidebar {
		@include gs-span(dl, 5, 5, (1, 5));
	}
	@include gs-media(t, max) {
		.content__main,.content__sidebar {
			@include gs-span(t, all, (1, 3));
			margin-bottom: 2em;
		}
	}
}

.nav--horizontal-1col {
	.content__main {
		@include gs-span(dl, 1, 5, (1, 5));
	}
	.content__sidebar {
		display: none;
	}
}

.nav--vertical {
	@include gs-media(m, max) {
		.nav--left {
			display: none;
		}
	}
}

.nav--vertical-1col {
	.content__main {
		@include gs-span(dl, 2, 5, (2, 5));
	}
}

.nav--vertical-show-top-nav {
	nav.nav--top {
		display: block;
		@include gs-media(m, max) {
			display: none;
		}
	}
	#leftcol {
		margin-top: 5em;
		@include gs-media(m, max) {
			margin-top: 0;
		}
	}
}

.nav--mobile {
	display: none;
	@include gs-media(m, max) {
		display: block;
		ul {
			&:nth-child(n+2) {
				padding-left: 1em;
			}
		}
	}
}

.nav-mobile-back {
	display: none;
	@include gs-media(m, max) {
		display: block;
		position: absolute;
		left: 5%;
		top: 5px;
		padding: 0;
		z-index: $zindex-mobile-menu-back;
		width: 50%;
		img {
			vertical-align: middle;
			display: inline-block;
			width: 30px;
			position: relative;
			margin: -5px -3px 0 -8px;
		}
	}
}