.pagination {
	margin-top: 1em;
	list-style: none;
}

.pagination a {
	text-decoration: none;
}

.pagination li {
	display: inline;
	padding: 0.4em;
	list-style: none;
}

.pagination li:before {
	display: none;
}