/* Tabs
-------------------------------------------------------------- */

.tabs {
  margin-bottom: 0;
}

.tabs li {
  list-style: none;
   margin: 0;
   padding: 0;
   display: inline;
   float: left;
   background-color: #444;
   line-height:normal;
   margin-bottom: 0;
   padding: 10px 15px;
   margin-right: 5px;
   border-bottom: 5px solid #fff;
}

.tabs li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.tabs li a:hover {
  text-decoration: none;
}

.tabs li.active {
  border-bottom: 5px solid #444;
}

.tabs li:before {
  display: none;
}

.tabs li a {
  display: block;
}

.tabbed > div {
  border: 10px solid #444;
  @include gs-pad(dc, padinfull);
  padding-top: 10px;
  padding-bottom: 2em;
}
