body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333333;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: #d9d9d1;
	overflow-x: hidden;
}

.content-sidebar {
	font-size: 14px;
}

/* Headings
-------------------------------------------------------------- */

h1 {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 0.5em;
	line-height: 1.25;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@include gs-media(m, max) {
  h1 {  
    font-size: 32px;
  }
}

.content-sidebar h1 {
	font-size: 26px;
}

p + h1, figure + h1 {
	margin-top: 1em;
}

h2, lh {	
	font-size: 1.3em; 
	margin: 1em 0 0.3em; 
	font-weight: normal;
}


h3 { 
	margin: 1em 0 0;
	font-weight: 700;
}

h4 { 
	text-transform: uppercase; 
	letter-spacing: 0.05em; 
	font-size: 0.85em; 
	margin: 1em 0 0;
}

h2 + h3 { 
	margin-top: 0; 
}


h5 {
	font-style: italic;
	margin: 1em 0 0;
}

h6 {
	color: #999;
	margin: 1em 0 0;
}

h3 + ul, h3 + ol, h3 + dl {
	margin-top: 0.5em;
}

// Small heading segments

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 80%;
	color: #6f6f6f;
	line-height: 0;
}

.box h2 {
	margin-top: 0;
}


/* Quotes
-------------------------------------------------------------- */


blockquote  { 
	margin: 1.5em; 
	color: #666; 
	font-style: italic; 
}

.quote-left {
	@include gs-span(dc, 1, 2);
	@include gs-float(dc, left);
}

.quote-right {
	@include gs-span(dc, 3, 4);
	@include gs-float(dc, right);
}

@include gs-media(m, max) {
  .quote-left, .quote-right {  
    @include gs-span(m, all);
  }
}

[class*=pullquote] {
	margin-top: 2em;
	margin-bottom: 2em;
}

[class*=pullquote] p.quote {
	line-height: 1.5em;
	font-size: 20px;
	font-family: Garamond, Georgia, "Times New Roman", serif;
	font-style: italic;
	color: rgba(0, 0, 0, 0.7);
}

.pullquote .meta, .quote-meta {
	border-top: 1px dotted;
	padding-top: 1em;
	border-color: rgba(0, 0, 0, 0.2);
	font-size: 12px;
	margin-top: 1em;
}

.bqstart {
	color: #c2c2ba;
	float: left;
	font-size: 400%;
	height: 45px;
	margin-bottom: -42px;
	margin-top: 0;
	padding-top: 22px;
	padding-right: 10px;
	font-style: normal;
}

.bqend {
	color: #c2c2ba;
	float: right;
	font-size: 400%;
	height: 25px;
	margin-top: 0;
	padding-top: 60px;
	padding-left: 10px;
	font-style: normal;
}




/* Inline styles
-------------------------------------------------------------- */

strong { 
	font-weight: bold;
}

em, dfn {
	font-style: italic;
}

small {
	color: rgba(68, 68, 68, 0.9);
	display: inline-block;
	font-size: 0.9em;
}

.text-muted {
  color: #999999;
}

.text-success {
  color: #468847;
}

.text-error {
  color: #b94a48;
}

.mod {
	font-size: 12px;
	color:#ccc;
	margin-top:2em;
}

ins {
	background-color: #F0F0F0;
	color: #000;
	text-decoration: none;
	padding: 0 0.125em;
}

mark {
	padding: 0 0.125em;
}

del { 
	color:#666; 
}

.standfirst {
	font-size:20px;
}

@include gs-media(m, max) {
	.standfirst {
		font-size:18px;
	}
}

.text-center {
	text-align:center;
}	

.text-right {
	text-align:right;
}


/* Lists
-------------------------------------------------------------- */

article ul {
	margin-bottom: 2em;
	
	li {
	list-style: none;
	position: relative;
	margin-bottom: 1em;
	}

	li:before {
	content: "";
	display: block;
	background-color: #333;
	@include border-radius(50%);
	height: 0.35em;
	width: 0.35em;
	position: absolute;
	left: -0.8em;
	top: 0.6em;
	
	}
}

@include gs-media(m, max) {
	article ul li {
		margin-left: 1em;
	}
}

article ul li ul {
	margin-top: 1em;
}

article ul li li {
	margin-left: 1em;
}

.tabbed > div ul li, .box ul li {
	margin-left: 1em;
}


/* Inline lists
-------------------------------------------------------------- */

#main article .horizontal {
	
	li {
		display:inline;
		margin-right:0.5em;
	}
	
	li:before {
		display: none;	
	}
	
	lh {
		float:left;
	}
	
	dt, dd {
	    float: left;
	    margin: 0 0.5em 0 0;
	}
	
	lh + dt, dd + dt, dd + dd {
	    clear: left
	}
	
	dd + dd {
	    float: none
	}
	
	dt {
	    font-weight: bold
	}

}

/* Unstyled lists
-------------------------------------------------------------- */

#main article .nostyle {
	
	li:before {
		display: none;	
	}

}

/* Ordered lists
-------------------------------------------------------------- */

ol li {
	list-style-type: decimal;
	margin-bottom: 1em;
}

@include gs-media(m, max) {
	ol li {
		margin-left: 1.5em;
	}
}

ol li ol {
	margin-top: 1em;
}

ol li li {
	margin-left: 1.5em;
}



/* Definition lists
-------------------------------------------------------------- */


dt {
	font-weight: 700;
}

dd + dt {
	margin-top: 10px;
}



/* Breadcrumbs
-------------------------------------------------------------- */

#breadcrumb {
	margin-bottom: 2em;
	display: block;
	overflow: hidden;
	margin-left: 0;
	list-style: none;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ccc;
	padding-bottom: 1em;
	
	ul {
		margin:0;
	}
		
	li {
	  margin: 0;
	  float: left;
	  font-size: 0.6875em;
	  text-transform: uppercase; 
	}
	
	li:before {
	  content: "/";
	  color: #aaaaaa;
	  margin: 0 0.75em;
	  position: relative;
	  top: 1px; 
	}
	  
	li:first-child:before {
	  content: " ";
	  margin: 0; 
	}
	
	li.current a {
		text-decoration: none;
		cursor: default;
		color: #333333;
	}

	 
}

/* Code lists (blocked)
-------------------------------------------------------------- */

ol.code {
	font: 400 1em/1.5 source-code-pro,monospace;
	margin: 1em 0 1.5em 2.5em;
}

ol.code li {
	background: none repeat scroll 0 0 #F6F6F6;
	border-top: 1px solid #FFFFFF;
	list-style: decimal-leading-zero outside none;
	padding: 0 0.5em;
}

ol.code li.tab1 {
  padding-left: 4ex;
}


/* Pagination
-------------------------------------------------------------- */

.pagination {
	margin-top: 1em;
	list-style: none;
}

.pagination a {
	text-decoration: none;
}

.pagination li {
	display: inline;
	padding: 0.4em;
	list-style: none;
}

.pagination li:before {
	display: none;
}


/* Resources
-------------------------------------------------------------- */

.resource {
	font-style: italic;
}

