/* vCard
-------------------------------------------------------------- */

.vcard {
  display: inline-block;
  margin-bottom: 1em;
  width: 100%;
  }
.vcard li {
    margin-bottom: 0.5em;
    display: block;
}
.vcard .fn {
    font-weight: bold;
    font-size: 0.9375em;
}
