/* 
* Partial name: 
* Partial use:
* Note: N/A
* Author: 
-------------------------------------------------------------- */

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
	position: relative;
}