<% _.each(data,function(f,index){ %>
    <div class="col col--<%= index + 1 %>-md">
        <label for="select-subject"><%= f.name %></label>
        <select class="form__control facet-option">
        <option value="">--</option>
            <% _.each(f.categories,function(cat){ %>
                <% _.each(cat.values,function(val){ %>
                    <option value="<%= val.queryStringParam %>" <%= val.checkedDomAttr %>><%= val.label %></option>
                <% }); %>
            <% }); %>
        </select>
    </div>
<% }); %>
