<option value="" disabled <%if(data==='') { %>selected<% } %>>Please Select</option>
<option value="title" <%if(data==='title') { %>selected<% } %>>Title</option>
<option value="dtitle" <%if(data==='dtitle') { %>selected<% } %>>Title Descending</option>
<option value="date" <%if(data==='date') { %>selected<% } %>>Latest</option>
<option value="adate" <%if(data==='adate') { %>selected<% } %>>Date Ascending</option>