/* Config */
@import "../screen";

/* JDiBrief Unique Styles -------------------------------- */

.photograph {
    background-color: $lightblue;
}

@include gs-media(m, max) {
    #header-mobile {
        background-color: $lightblue;
    }
}


.photograph-on {
    background-image: url("images");
    background-position-y: 0;
}

.box {
    border-top: 5px solid $lightblue;
}

a, a:hover {
    color: $lightblue;
}

.tag, .more {
    background-color: $lightblue;
}